<div class="bottom">
	Copyright © 2008－<%= Time.now.year %> qiaobutang.com. All rights reserved.
	上海乔布企业管理咨询有限公司 版权所有.
	<a href="http://www.miibeian.gov.cn" target="_blank" id="beianhao">
		沪ICP备08114117号</a>
</div>
