<div class="top_menu">
	<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td>
				<a href="#">首&nbsp;&nbsp;&nbsp;&nbsp;页</a>
			</td>
			<td>|</td>
			<td>
				<a href="#">培训产品</a>
			</td>
			<td>|</td>
			<td>
				<a href="#">特色课程</a>
			</td>
			<td>|</td>
			<td>
				<a href="#">经典案例</a>
			</td>
			<td>|</td>
			<td>
				<a href="/trainings/about">关于我们</a>
			</td>
		</tr>
	</table>
</div>
