<div class="top_menu">
	<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td>
				<a href="/trainings">首&nbsp;&nbsp;&nbsp;&nbsp;页</a>
			</td>
			<td>|</td>
			<td>
				<a href="#">培训产品</a>
			</td>
			<td>|</td>
			<td>
				<a href="#">特色课程</a>
			</td>
			<td>|</td>
			<td>
				<a href="/trainings/recent">近期项目</a>
			</td>
			<td>|</td>
			<td>
				<a href="/trainings/cases">经典案例</a>
			</td>
			<td>|</td>
			<td>
				<a href="/trainings/about">关于我们</a>
			</td>
		</tr>
	</table>
</div>


<div class="top_post">
	<img src="/images/trainings/post.jpg" border="0" />
</div>
