<div class="top root_container">
	<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
		<tr>
			<td>
				<a href="/trainings">
					<img src="/images/trainings/logo.png" border ="0" alt="乔布咨询" title="乔布咨询" /></a>
			</td>
			
			<td align="right">
				<a href="/index" target="_blank">› 乔布堂</a>
			</td>
			
			<td align="right" style="width: 75px;">
				<a href="/community" target="_blank">› 乔布圈</a>
			</td>
		</tr>
	</table>
</div>
