<div class="breadcrumb">
	当前位置：
	<a href="/trainings">乔布咨询</a>
	»
	<a href="/trainings/about">关于我们</a>
</div>

<div class="slide_title">
	上海乔布企业管理咨询有限公司
</div>

<div style="margin: 0px 80px;">
	<div style="float: left; margin-right: 30px;">
		<img src="/images/trainings/slogan.png" border="0" alt="超越,客户期望;创新,展现价值;携手,共同成长" />
	</div>
	<div class="slide_content">
		<p>
			上海乔布企业管理咨询有限公司成立于2008年。汇聚著名专家学者，携手优秀培训新人，努力打造超越客户期望的培训项目。
		</p>
		<p>
			乔布咨询致力于研发创新，为客户提供最适合的培训方式，通过咨询式培训与客户共同成长。
		</p>
	</div>
	<div style="clear: left;"></div>
	
	<div style="padding: 40px 10px 25px; font-size: 18px; font-weight: bold;">
		我们的服务过的客户（部分）：
	</div>
	<div style="text-align: center;">
		<img src="/images/trainings/clients.png" border="0" />
	</div>
	
	<div style="padding: 50px 0px 0px 10px;">
		<img src="/images/trainings/contact.png" border="0" />
	</div>
</div>
