<div class="breadcrumb">
	当前位置：
	<a href="/trainings">乔布咨询</a>
	»
	<a href="/trainings/recent">近期项目</a>
</div>

<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
	<tr>
		<td valign="top">
			<div class="left_menus" style="width: 180px;">
				<% @posts.each do |post| %>
					<%=
						link_to(
							h(post.title),
							{:id => post.id, :page => @page},
							:class => (post.id == @post.id) ? "selected" : ""
						)
					%>
				<% end %>
			</div>
			
			<div style="margin-top: 20px;">
				<%=
					paging_buttons(
						@posts, :class => "mini_pagination",
						:previous_label => "«", :next_label => "»"
					)
				%>
			</div>
		</td>
		
		
		<td valign="top" style="width: 620px; padding-left: 20px;">
			<div class="slide_title">
				<%= h(@post.title) %>
			</div>
			
			<div class="tinymce_content">
				<%= sanitize_tinymce(@post.content) %>
			</div>
		</td>
	</tr>
</table>
