<div class="breadcrumb">
	当前位置：
	<a href="/trainings">乔布咨询</a>
	»
	<a href="/trainings/solution">解决方案</a>
</div>

<div class="slide_title">
	培训流程及特点
</div>

<div>
	<div class="process">
		<img src="/images/trainings/process.png" border="0" />
	</div>
	
	<table border="0" cellspacing="0" cellpadding="0" class="process_grid">
		<tr>
			<th style="width: 30%;">
				<span class="highlight">特点1：</span>
				针对性的课程研发
			</th>
			
			<td style="width: 5%;"></td>
			
			<th style="width: 30%;">
				<span class="highlight">特点2：</span>
				体验+工具
			</th>
			
			<td style="width: 5%;"></td>
			
			<th style="width: 30%;">
				<span class="highlight">特点3：</span>
				跟进
			</th>
		</tr>
		
		<tr>
			<td valign="top">
				<ul>
					<li>通过调研管理工具，收集企业面临的问题和需求</li>
					<li>企业高管和资深专家的深入访谈，在开展培训前彻底理清经营管理方向、目标和内容</li>
					<li>联系采购适合的讲师，开发适合的教学方式，并要求讲师按照定制的课程内容进行调研并授课</li>
				</ul>
			</td>
			
			<td></td>
			
			<td valign="top">
				<ul>
					<li>体验：根据工作特点设计体验项目，让学员在充满趣味的管理游戏中获得感悟，学到知识</li>
					<li>工具：短时间的培训很难传授系统的理论知识，但是可以通过提供工作辅助工具，使学员某一方面的能力获得明显提升。这些工具既实用有效，又易于掌握</li>
				</ul>
			</td>
			
			<td></td>
			
			<td valign="top">
				<ul>
					<li>培训结束后提供1-3个月跟进式服务</li>
					<li>根据课程内容不同安排答疑和回访</li>
					<li>利用课程及讲师库，帮助企业实施及监控培训内容，成为企业管理的参谋部</li>
					<li>节省企业管理者的大量调研及跟进时间，并获得长期的战略支持</li>
				</ul>
			</td>
		</tr>
		
		<tr>
			<th>
				<span class="highlight">特点4：</span>
				全程咨询式培训
			</th>
			
			<td></td>
			
			<td></td>
			
			<td></td>
			
			<td></td>
		</tr>
	</table>
</div>
