<div style="margin-top: 30px;">
	<div>
		<img src="/images/coach/stp/stp_detail_1.jpg" border="0" />
	</div>
	<div>
		<img src="/images/coach/stp/stp_detail_2.jpg" border="0" />
	</div>
	<div>
		<img src="/images/coach/stp/stp_detail_3.jpg" border="0" />
	</div>
	<div>
		<img src="/images/coach/stp/stp_detail_4.jpg" border="0" />
	</div>
	
	
	
	<div style="width: 600px; position: absolute; top: -9999px; left: -9999px;">
		<p>
			<strong>改变你, 成就你</strong>
		</p>
		<p>
			你希望具备出色的<strong>销售</strong>, <strong>沟通</strong>, <strong>领导</strong>, <strong>谈判</strong>等<strong>商务技能</strong>么?
			你希望富有<strong>影响力</strong>和<strong>个人魅力</strong>么?
			你希望提高<strong>人际关系</strong>技巧, 获得广泛的认可么?
			你希望认识来自恒生银行, 壳牌, 墨沙东, 杜邦, GE, 喜达屋的<strong>销售/市场/HR经理</strong>么?
		</p>
		<p>
			如果你:
			打定主意<strong>进名企做销售</strong> !
			立志提高<strong>沟通</strong>和<strong>人际交往</strong>能力 !
			发誓在面试<strong>销售和市场类工作</strong>时脱颖而出 !
		</p>
		<p>
			现在就打电话给我们 !
			400-600-2010
		</p>
		<p>
			原价2600元
			两人同行 "伙伴价"
			立减200元
		</p>
		<p>
			<h2>01 专业拜访技巧</h2>
			《获得认可的六脉神剑》 (2天)
			销售风格测试
			专业拜访基本步骤
			4大案例，训练拜访基本功
		</p>
		<p>
			<h2>02 群体销售技巧</h2>
			《神奇的影响力法则》 (2天)
			点评: 5分钟演讲练习 !
			群体销售基本技巧
			关键点练习: 处理异议
		</p>
		<p>
			<h2>03 销售谈判技巧</h2>
			《赢》 (2天)
			有效的谈判前准备
			谈判4阶段训练
			三大案例练习: 从双发博弈到赢得订单
		</p>
		<p>
			<h2>04 职业形象和礼仪</h2>
			《第一眼获得信任》 (1天)
			职业形象基本要素
			点评: 职业形象基本要素
			练习: 利用好你现有的资源 !
			练习: 职业基本礼仪
		</p>
		<p>
			<h2>05 时间管理技巧</h2>
			《高效能销售员》 (1天)
			练习: 你的时间四象限
			任务的轻重缓急
			制定计划的原则和方法
			开始制定周计划 !
		</p>
		<p>
			8天32学时
			周末上课
			毕业起为期一年跟踪服务
			乔布堂永久性VIP会员
		</p>
	</div>
</div>
