<% community_page_title("培训项目") %>

<div class="breadcrumb">
	<a href="/">
		乔布堂</a>
	»
	<a href="/coach">
		乔布教练</a>
	»
	<a href="/coach/courses">
		培训项目</a>
</div>


<link href="/lib/greybox/gb_styles.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
	var GB_ROOT_DIR = "/lib/greybox/";
</script>

<script type="text/javascript" src="/lib/greybox/AJS.js"></script>
<script type="text/javascript" src="/lib/greybox/AJS_fx.js"></script>
<script type="text/javascript" src="/lib/greybox/gb_scripts.js"></script>


<div class="coach_block">
	<div class="course_section">
		<div class="float_l" style="margin-top: 5px;">
			<div class="coach_block">
				<img src="/images/coach/courses/career_path.png" border="0" />
			</div>
		
			<div class="coach_block align_c">
				<a rel="gb_page_center[500, 350]" title="我要报名: 申请职业决策研讨班" href="/coach/course_apply?sid=3">
					<img src="/images/coach/register_button.png" border="0" /></a>
			</div>
		</div>
	
		<div style="margin-left: 200px; font-size: 14px;">
			<a href="#top" class="float_r" style="font-size: 12px;">
				回页首</a>
			<div>
				<a name="career_path">
					<h2>职业决策 (1天研讨班)</h2>
				</a>
			</div>
			
			<div class="coach_block">
				费用: 150 元
			</div>
			
			<div class="coach_block" style="color: #FF6600;">
				赠: 《大学生求职行业/职位分析报告》 一份
			</div>
			
			<div class="coach_block">
				<br />
				
				<div>
					还不明确自己适合什么样的工作？
				</div>
				<div>
					还不知道自己与众不同的风格和技能？
				</div>
				<div>
					还不明白行业和职位到底是做什么的？
				</div>
				<div>
					还不了解网络投简历的成功率只有4%？
				</div>
				
				<br />
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				乔布堂职业决策研讨班   
			</div>
			
			<div class="coach_block course_bullets_container">
				<div>
					遵循乔布堂16D标准
				</div>
				<div>
					采用国际通用测评量表
				</div>
				<div>
					传授实用的人际网求职法
				</div>
				<div>
					带来行业内部人士最IN的声音
				</div>
			</div>
		</div>
	</div>
</div>


<div class="coach_block">
	<div class="course_section">
		<div class="float_l" style="margin-top: 5px;">
			<div class="coach_block">
				<img src="/images/coach/courses/resume_8_hrs.png" border="0" />
			</div>
		
			<div class="coach_block align_c">
				<a rel="gb_page_center[500, 350]" title="我要报名: 申请简历网申求职信8小时特训" href="/coach/course_apply?sid=4">
					<img src="/images/coach/register_button.png" border="0" /></a>
			</div>
		</div>
	
		<div style="margin-left: 200px; font-size: 14px;">
			<a href="#top" class="float_r" style="font-size: 12px;">
				回页首</a>
			<div>
				<a name="resume_8_hrs">
					<h2>简历-网申-求职信 (8小时特训)</h2>
				</a>
			</div>
			
			<div class="coach_block">
				<div>
					每班人数: 20人以内
				</div>
				<div>
					费用: 100元; 押金: 100元
				</div>
				<div style="color: #FF6600; margin-left: 50px;">
					严格把关，简历/求职信合格后退还100元押金！
				</div>
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				<br />
				特训直接成果
			</div>
			
			<div class="coach_block course_bullets_container">
				<div>
					<b>
						三份简历
					</b>
					直接带回家
				</div>
				<div>
					<b>
						两封求职信
					</b>
					当堂完成
				</div>
				<div>
					外企网申Open Question全解析
				</div>
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				<br />
				特训方式
			</div>
			
			<div class="coach_block course_bullets_container">
				<div>
					体验式教学，学员全程100%投入
				</div>
				<div>
					实战式训练，面对面讲，手把手教
				</div>
			</div>
		</div>
	</div>
</div>

<div class="coach_block">
	<div class="course_section">
		<div class="float_l" style="margin-top: 5px;">
			<div class="coach_block">
				<img src="/images/coach/courses/interview_2_days.png" border="0" />
			</div>
		
			<div class="coach_block align_c">
				<a rel="gb_page_center[500, 350]" title="我要报名: 申请面试和职场礼仪模拟训练" href="/coach/course_apply?sid=5">
					<img src="/images/coach/register_button.png" border="0" /></a>
			</div>
		</div>
	
		<div style="margin-left: 200px; font-size: 14px;">
			<a href="#top" class="float_r" style="font-size: 12px;">
				回页首</a>
			<div>
				<a name="interview_2_days">
					<h2>面试和职场礼仪 (2天模拟训练)</h2>
				</a>
			</div>
			
			<div class="coach_block">
				<div>
					每班人数: 20人以内
				</div>
				<div>
					费用: 200元; 押金: 100元
				</div>
				<div style="color: #FF6600;">
					注意：5分制考核标准，平均分4分以上退还押金！
				</div>
			</div>
			
			<div class="coach_block">
				<br />
				
				<div>
					不知道穿什么衣服？
				</div>
				<div>
					不知道从哪里谈起？
				</div>
				<div>
					不知道面试官究竟想知道什么？
				</div>
				<div>
					不知道如何简洁有效地展示自己？
				</div>
				<div>
					乔布堂模拟训练让你
				</div>
				
				<div>
					<h3>
						第1天让你知道，第2天让你精于此道！
					</h3>
				</div>
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				<br />
				课程方式
			</div>
			
			<div class="coach_block course_bullets_container">
				<div>
					面试剖析：行为描述性面试、情景面试、压力面试
				</div>
				<div>
					技能培训：即兴演讲、案例研究、分组辩论
				</div>
				<div>
					面试礼仪：谈吐、着装、沟通
				</div>
			</div>
		</div>
	</div>
</div>

<div class="coach_block">
	<div class="course_section">
		<div class="float_l" style="margin-top: 5px;">
			<div class="coach_block">
				<img src="/images/coach/courses/sales_training.png" border="0" />
			</div>
		
			<div class="coach_block align_c">
				<a rel="gb_page_center[500, 350]" title="我要报名: 申请销售精英启航班" href="/coach/course_apply?sid=6">
					<img src="/images/coach/register_button.png" border="0" /></a>
			</div>
		</div>
	
		<div style="margin-left: 200px; font-size: 14px;">
			<a href="#top" class="float_r" style="font-size: 12px;">
				回页首</a>
			<div>
				<a name="sales_training">
					<h2>销售精英启航班 (2天)</h2>
				</a>
			</div>
			
			<div class="coach_block">
				<div>
					费用: 300元/2天
				</div>
				<div style="color: #FF6600;">
					附赠：《销售常用工具手册》一份
				</div>
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				<br />
				为什么选择作为职业起点？
			</div>
			
			<div class="coach_block course_bullets_container">
				<div>
					其他任何职位都不如销售锻炼人！
				</div>
				<div>
					80%的CEO和总裁都是销售出身！
				</div>
				<div>
					所有的职位里面，销售享有最高平均工资！
				</div>
				<div>
					所有成功人士，都有一流的销售意识和能力！
				</div>
			</div>
			
			<div class="coach_block" style="font-weight: bold;">
				但是我没有上过任何一所大学开设销售课程 ……
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				<br />
				课程内容
			</div>
			
			<div class="coach_block course_bullets_container">
				<div>
					时间管理
				</div>
				<div>
					演讲技能
				</div>
				<div>
					拜访技巧
				</div>
				<div>
					商务沟通
				</div>
				<div>
					谈判技巧
				</div>
				<div>
					客户关系管理
				</div>
			</div>
		</div>
	</div>
</div>

<div class="coach_block">
	<div class="course_section">
		<div class="float_l" style="margin-top: 5px;">
			<div class="coach_block">
				<img src="/images/coach/courses/course32.png" border="0" />
			</div>
		
			<div class="coach_block align_c">
				<a rel="gb_page_center[500, 350]" title="我要报名: 申请求职精品班" href="/coach/course_apply?sid=7">
					<img src="/images/coach/register_button.png" border="0" /></a>
			</div>
			
			<div class="course_tip">
				<div class="course_tip_title">
					乔布堂温馨小贴士
				</div>
				
				<div>
					乔布堂开设的精品课程班和拓展课程班这两个班级。在课程内容上一致，教学方法有区别，精品课程班采用讲座式，共 4 天 32 学时，拓展课程班采用体验式培训方法，共 8 天 64 学时。
				</div>
				<div class="align_r">
					<a href="#course64">
						去拓展班看看 »</a>
				</div>
			</div>
		</div>
	
		<div style="margin-left: 200px; font-size: 14px;">
			<a href="#top" class="float_r" style="font-size: 12px;">
				回页首</a>
			<div>
				<a name="course32">
					<h2>求职精品班 (32学时)</h2>
				</a>
			</div>
			
			<div class="coach_block">
				<div>
					费用: 480元/32学时
				</div>
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				<br />
				班级特色
			</div>
			
			<div class="coach_block course_bullets_container">
				<div>
					时间短：5天完成全部课程
				</div>
				<div>
					内容全：包括全部职业决策和求职技巧内容
				</div>
				<div>
					职位专：求职技能课程针对特定行业
				</div>
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				班级目标
			</div>
			
			<div class="coach_block course_bullets_container">
				<div>
					全面了解职业发展如何进行职业决策
				</div>
				<div>
					全面了解在特定行业建立关系网络，应对求职，以及职业发展初期所必备的技能
				</div>
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				学员类型
			</div>
			
			<div class="coach_block course_bullets_container">
				<div>
					希望通过短时间掌握系统职业发展知识
				</div>
				<div>
					有优秀的自学和自律能力
				</div>
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				乔布堂承诺
			</div>
			
			<div class="coach_block">
				<div>
					乔布堂采取试听制。如果认为课程内容不能满足你的需求，可以在第一天听课结束后申请退课。乔布堂承诺将第一天课程以外的其他全部费用退回。
				</div>
			</div>
		</div>
	</div>
</div>

<div class="coach_block">
	<div class="course_section">
		<div class="float_l" style="margin-top: 5px;">
			<div class="coach_block">
				<img src="/images/coach/courses/course64.png" border="0" />
			</div>
		
			<div class="coach_block align_c">
				<a rel="gb_page_center[500, 350]" title="我要报名: 申请求职拓展班" href="/coach/course_apply?sid=8">
					<img src="/images/coach/register_button.png" border="0" /></a>
			</div>
			
			<div class="course_tip">
				<div class="course_tip_title">
					乔布堂温馨小贴士
				</div>
				
				<div>
					乔布堂开设的精品课程班和拓展课程班这两个班级。在课程内容上一致，教学方法有区别，精品课程班采用讲座式，共 4 天 32 学时，拓展课程班采用体验式培训方法，共 8 天 64 学时。
				</div>
				<div class="align_r">
					<a href="#course32">
						去精品班看看 »</a>
				</div>
			</div>
		</div>
	
		<div style="margin-left: 200px; font-size: 14px;">
			<a href="#top" class="float_r" style="font-size: 12px;">
				回页首</a>
			<div>
				<a name="course64">
					<h2>求职拓展班 (64学时)</h2>
				</a>
			</div>
			
			<div class="coach_block">
				<div>
					费用: 1860元/64学时
				</div>
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				<br />
				班级特色
			</div>
			
			<div class="coach_block course_bullets_container">
				<div>
					通过现场活动，深刻挖掘自我特点
				</div>
				<div>
					通过实时模拟练习，直接完成简历、面试等硬技能练习
				</div>
				<div>
					简历择优提供给特定行业公司，针对性强
				</div>
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				班级目标
			</div>
			
			<div class="coach_block course_bullets_container">
				<div>
					简历直接带回家！
				</div>
				<div>
					现场掌握求职技能和其他职业素质技能
				</div>
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				学员类型
			</div>
			
			<div class="coach_block course_bullets_container">
				<div>
					希望通过参与体验式培训发掘个人特质
				</div>
				<div>
					希望更多现场互动交流，及时发现并改正问题
				</div>
			</div>
			
			<div class="coach_block" style="color: #FF6600; font-weight: bold;">
				乔布堂承诺
			</div>
			
			<div class="coach_block">
				<div>
					乔布堂采取试听制。如果认为课程内容不能满足你的需求，可以在第一天听课结束后申请退课。乔布堂承诺将第一天课程以外的其他全部费用退回。
				</div>
			</div>
		</div>
	</div>
</div>



