<div class="breadcrumb">
	<a href="/">
		乔布堂</a>
	»
	<a href="/coach">
		乔布教练</a>
</div>


<div class="coach_index_container">
	
	<div class="coach_block">
		<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
			<div class="index_container_l_section">
				<div class="index_container_l_section_title">
					乔布教练为你专业呈现 »
				</div>

				<div class="index_container_l_section_content">
					<ul>
						<li>评估自我能力和发展潜力的系统性工具</li>
						<li>拓展人际关系的心态和方式</li>
						<li>有效实用的行业/职位信息</li>
						<li>基本职业素质的训练方法</li>
						<li>达到目标的自信和行动力</li>
						<li>国内外最受推崇的求职技能</li>
					</ul>
				</div>
			
			</div>
		<% end %>
	</div>

	<div class="coach_block">
		<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
			<div class="index_container_l_section">
				<div class="index_container_l_section_title">
					乔布教练的体系 »
				</div>

				<div class="index_container_l_section_content">
					<div>
						乔布堂广泛借鉴国内外职业生涯规划、求职技巧以及成功学研究的最新成果，结合不同行业的实际情况，形成了完整的教练体系。
					</div>
				
					<br />
				
					<div class="align_c">
						<img src="/images/coach/coach_arch.png" />
					</div>
				</div>
			
			</div>
		<% end %>
	</div>

	<div class="coach_block">
		<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
			<div class="index_container_l_section">
				<div class="index_container_l_section_title">
					乔布教练的课程 »
				</div>

				<div class="index_container_l_section_content">
					<div class="align_c">
						<table border="0" cellspacing="3" cellpadding="0" class="course_info_table">
							<tr>
								<th colspan="2">职业决策课程</th>
							</tr>
						
							<tr>
								<td style="width: 60px;" align="center">
									自我评估
								</td>
								<td>
									经历经验总结的维度和方法；职业兴趣测量的方法；个人职业兴趣决策方法；总结经历经验；提炼技能和潜能；测量职业兴趣；分析动机和价值观；评估环境影响。
								</td>
							</tr>
							<tr>
								<td align="center">
									职业信息
								</td>
								<td>
									分析行业发展、职位介绍、职业发展路径和职业声望的研究方法；采用乔布堂16D标准，全方位透析行业现状和职位实情。
								</td>
							</tr>
						</table>
					
						<table border="0" cellspacing="3" cellpadding="0" class="course_info_table_2">
							<tr>
								<th colspan="2">求职技能课程</th>
							</tr>

							<tr>
								<td style="width: 60px;" align="center">
									求职途径
								</td>
								<td>
									介绍训练与人沟通，并建立自己的个人职业关系网的方法，以及如何获取并筛选所需信息；
								</td>
							</tr>
							<tr>
								<td align="center">
									简历和网申
								</td>
								<td>
									学习职业的书面表达方法；学习职业的书面表达方法；启发个人职业品牌意识；训练专业商务写作技能；手把手指导简历写作；
								</td>
							</tr>
							<tr>
								<td align="center">
									AC和面试
								</td>
								<td>
									掌握结构化面试和非结构化面试的流程和考核内容；分析结构化面试流程和方法；训练面对面商务沟通技能；传授专业商务礼仪；
								</td>
							</tr>
							<tr>
								<td align="center">
									职业素质
								</td>
								<td>
									针对行业的职业素质，包括：基本行业职位所需知识介绍；时间管理方法等训练职业相关素质和技能，比如：时间管理、专业销售技巧、谈判技巧等
								</td>
							</tr>
						</table>
					</div>
				</div>
			
			</div>
		<% end %>
	</div>
</div>


