<% community_page_title("医药行业") %>

<div>
	<a href="/">
		乔布堂</a>
	»
	<a href="/coach">
		乔布教练</a>
	»
	<a href="/coach/pharmaceutical">
		医药行业</a>
</div>

<div class="coach_block">
	<img src="/images/coach/coach_index_post.jpg" />
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_content">
				乔布教练的医药行业培训课程，经过多位行业资深培训师共同研究和设计，针对学生求职的特点进行课程开发。
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				医药行业培训师 »
			</div>

			<div class="index_container_l_section_content">
				<div>
					<div>
						<img class="float_l" src="/images/coach/trainer_icon.png" border="0" />
						&nbsp;&nbsp;&nbsp;
						<b>
							林老师
						</b>
					</div>
					<div class="clear_l">
						医药行业资深销售，10余年医药行业培训经验，担任跨国医药公司培训总 监；在乔布培训中倾情传授医药行业职业素质培训，包括医药行业基本知识，沟通技巧，时间管理，压力管理等课程；
					</div>
					
					<div style="height: 15px;"></div>
					
					<div>
						<img class="float_l" src="/images/coach/trainer_icon.png" border="0" />
						&nbsp;&nbsp;&nbsp;
						<b>
							冯老师
						</b>
					</div>
					<div class="clear_l">
						著名职业礼仪培训师，多年企业培训经验，担任跨国公司培训经理；在乔布培训中分享职业礼仪的具体操作方法；
					</div>
					
					<div style="height: 15px;"></div>
					
					<div>
						<img class="float_l" src="/images/coach/trainer_icon.png" border="0" />
						&nbsp;&nbsp;&nbsp;
						<b>
							马老师
						</b>
					</div>
					<div class="clear_l">
						潜心研究国内外职业生涯规划和求职技巧，设计多门实战式职业规划课程；2年知名跨国医药公司销售经验，就职期间因业绩突出被破格提升；4年资深体验培训师，曾担任飞利浦、长江巴黎百富勤、复旦大学管理学院、上海财大MBA学院、西门子、强生制药、易初莲花、德州仪器、SAP、西安杨森、爱芬食品、华润雪花、柯尼卡美能达等知名公司外训培训师；
					</div>
				</div>
			</div>
			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				行业公司 »
			</div>

			<div class="index_container_l_section_content">
				<div>
					乔布堂与医药行业内知名公司保持联系，选择合适的学生简历向公司 HR 推荐。
				</div>
				
				<div style="word-spacing: 30px; padding: 0px 20px">
					<div>
						<img src="/images/coach/company_logos/bi.png" />
						<img src="/images/coach/company_logos/xianyangsen.png" />
						<img src="/images/coach/company_logos/johnson.png" />
						
					</div>
					<div>
						<img src="/images/coach/company_logos/gsk.png" />
						<img src="/images/coach/company_logos/bayer.png" />
						<img src="/images/coach/company_logos/lilly.png" />
						<img src="/images/coach/company_logos/wyeth.png" />
					</div>
				</div>
			</div>
			
		</div>
	<% end %>
</div>


