<% community_page_title("报名须知") %>

<div>
	<a href="/">
		乔布堂</a>
	»
	<a href="/coach">
		乔布教练</a>
	»
	<a href="/coach/register_notice">
		报名须知</a>
</div>

<div class="coach_block">
	<img src="/images/coach/coach_register_notice_post.png" />
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				根据你的学习习惯选择课程 »
			</div>

			<div class="index_container_l_section_content">
				<div>
					考虑到每个人的学习方法不同，乔布堂®开设了两种班级：核心课程班和高级课程班。两个班级在课程内容上一致，教学方法有区别，核心课程班采用讲座式，共5天40课时，高级课程班采用体验式培训方法，共10天80课时。
				</div>
				
				<div class="align_c">
					<table border="0" cellspacing="2" cellpadding="0" class="course_info_table">
						<tr>
							<td style="width: 40px"></td>
							<th style="width: 180px">核心班</th>
							<th>拓展班</th>
						</tr>
						
						<tr>
							<td></td>
							<td>
								<img src="/images/coach/course_core_icon.png" />
							</td>
							<td>
								<img src="/images/coach/course_outward_bound_icon.png" />
							</td>
						</tr>
						
						<tr>
							<td align="center">
								班级<br />
								特色
							</td>
							<td>
								时间短：5天完成全部课程；<br />
								内容全：包括全部职业决策和求职技巧内容；<br />
								职位专：求职技能课程针对特定行业；<br />
							</td>
							<td>
								通过现场活动，深刻挖掘自我特点；<br />
								通过实时模拟练习，直接完成简历、面试等硬技能练习；<br />
								简历择优提供给特定行业公司，针对性强；<br />
							</td>
						</tr>
						<tr>
							<td align="center">
								班级<br />
								目标
							</td>
							<td>
								全面了解职业发展如何进行职业决策；<br />
								全面了解在特定行业建立关系网络，应对求职，以及职业发展初期所必备的技能；<br />
							</td>
							<td>
								简历直接带回家！<br />
								现场掌握求职技能和其他职业素质技能；<br />
							</td>
						</tr>
						<tr>
							<td align="center">
								学员<br />
								类型
							</td>
							<td>
								希望通过短时间掌握系统职业发展知识；<br />
								有优秀的自学和自律能力；<br />
							</td>
							<td>
								希望通过参与体验式培训发掘个人特质；<br />
								希望更多现场互动交流，及时发现并改正问题；<br />
							</td>
						</tr>
						<tr>
							<td align="center">总课时</td>
							<td>
								40学时，5天；
							</td>
							<td>
								80学时，10天；
							</td>
						</tr>
						<tr>
							<td align="center">总费用</td>
							<td>
								500 元
							</td>
							<td>
								1960 元
							</td>
						</tr>
					</table>
				</div>
			</div>
			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				乔布堂承诺  »
			</div>

			<div class="index_container_l_section_content">
				乔布堂采取退课制。如果认为课程内容不能满足你的需求，可以在该第一天课程结束后退课。乔布堂®承诺将扣除第一天课程以外，其他全部费用退回。
			</div>
			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				报名方式 »
			</div>

			<div class="index_container_l_section_content">
				<div>
					电话: 021-6381-5200
				</div>
				
				<div>
					电子邮箱: service@qiaobutang.com
				</div>
				
				<div>
					联系人: 沈小姐
				</div>
			</div>
			
		</div>
	<% end %>
</div>


