<%
	community_page_title("销售实习生计划 - 改变你 成就你")
	community_page_desc("跨国公司/500强企业，销售和市场经理的摇篮.掌握国际一流公司普遍采用的系统销售方法.加速从大学生向市场营销专家的蜕变.为期8天的培训，采用最科学、最先进的训练方法，提高学员就业力.更有机会通过内部推荐，直接进入目标公司.严峻的就业形势下，获得胜利的唯一办法：跑得比别人更快！")
%>



<link href="/stylesheets/stp.css" rel="stylesheet" type="text/css" />

<link href="/lib/greybox/gb_styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	var GB_ROOT_DIR = "/lib/greybox/";
</script>
<script type="text/javascript" src="/lib/greybox/AJS.js"></script>
<script type="text/javascript" src="/lib/greybox/AJS_fx.js"></script>
<script type="text/javascript" src="/lib/greybox/gb_scripts.js"></script>



<div class="clear" style="margin: 0px auto; width: 950px;">
	<div>
		<table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
			<tr>
				<td align="left" valign="top" style="width: 250px;">
					<div>
						<a href="http://www.qiaobutang.com" target="_blank">
							<img src="/images/coach/stp/logo.jpg" border="0" /></a>
					</div>
					
					<div>
						<table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
							<tr>
								<td align="left" valign="top" style="width: 11px;">
									<div class="round_corner_top_left"> </div>
									
									<div>
										<img src="/images/coach/stp/vertical_line.jpg" border="0" />
									</div>
								</td>
								
								<td align="center" valign="top" style="width: 100%; background: transparent url(/images/coach/stp/round_hori_dot.jpg) repeat-x scroll left 0px">
									<div class="left_section" style="background: transparent url(/images/coach/stp/history_icon.jpg) no-repeat scroll center 0px; margin-top: 30px;">
										<div class="left_section_title">
											<a href="/coach/stp_pic" target="_blank" style="color: #000000; text-decoration:  none; display: block;">
												精彩回顾</a>
										</div>
									</div>
									
									<div class="left_section" style="background: transparent url(/images/coach/stp/trainers_icon.jpg) no-repeat scroll center 0px; margin-top: 15px;">
										<div class="left_section_title">
											<a href="/coach/trainers" target="_blank" style="color: #000000; text-decoration:  none; display: block;">
												查看培训师</a>
										</div>
									</div>
									
									<div>
										<div class="left_section" style="background: transparent url(/images/coach/stp/method_icon.jpg) no-repeat scroll center 0px; margin-top: 15px;">
											<div class="left_section_title">
												授课方式
											</div>
										</div>
										<div class="left_section_content">
											<div class="left_section_content_body">
												<div class="method_section_content">
													30 人以内小班授课
												</div>
												<div class="method_section_content">
													案例分析, 1对1反复练习
												</div>
												<div class="method_section_content">
													个性化的点评和辅导
												</div>
												<div class="method_section_content">
													获得你的专属学员档案
												</div>
											</div>
										</div>
									</div>
									
									<div>
										<div class="left_section" style="background: transparent url(/images/coach/stp/apply_icon.jpg) no-repeat scroll center 0px; margin-top: 15px;">
											<div class="left_section_title">
												报名方法
											</div>
										</div>
										<div class="left_section_content">
											<ul class="left_section_content_body" style="margin: 0px; list-style-type: none; color: #888888;">
												<li>
													a. 网上报名
												</li>
												<li>
													b. 至公司付款/网上付款
												</li>
												<li>
													c. 签署协议
												</li>
												<li>
													d. 领取听课证
												</li>
											</ul>
											<div style="margin-bottom: 10px; text-align: center;">
												<a rel="gb_page_center[500, 350]" title="我要报名: 销售实习生计划 (STP)" href="/coach/course_apply?sid=11">
													<img src="/images/coach/register_button.png" border="0" /></a>
											</div>
										</div>
									</div>
									
									<% if false %>
									<div>
										<div class="left_section" style="background: transparent url(/images/coach/stp/try_icon.jpg) no-repeat scroll center 0px; margin-top: 15px;">
											<div class="left_section_title">
												申请试听
											</div>
										</div>
										<div class="left_section_content">
											<div class="left_section_content_body">
												<div>
													<div class="try_section_title">
														试听内容:
													</div>
													<div class="try_section_content">
														2个小时的专业拜访技巧
														<br />
														--获得认可的六脉神剑.
													</div>
												</div>
												
												<div>
													<div class="try_section_title">
														试听地点:
													</div>
													<div class="try_section_content">
														上海市 长宁路1027号
														<br />
														兆丰广场 1108室
													</div>
												</div>
												
												<div>
													<div class="try_section_title">
														试听费用:
													</div>
													<div class="try_section_content">
														20元/人
														<strong style="color: #666666;">(提前预约免费)</strong>
													</div>
												</div>
											</div>
											<div style="margin: 10px 0px; text-align: center;">
												<a rel="gb_page_center[500, 350]" title="申请试听: 销售实习生计划 (STP)" href="/coach/course_apply?sid=12">
													<img src="/images/coach/apply_button.png" border="0" /></a>
											</div>
										</div>
									</div>
									<% end %>
									
									<div>
										<div class="left_section" style="background: transparent url(/images/coach/stp/contact_icon.jpg) no-repeat scroll center 0px; margin-top: 15px;">
											<div class="left_section_title">
												课程咨询
											</div>
										</div>
										<div class="left_section_content">
											<div class="left_section_content_body">
												<div>
													<div class="try_section_title">
														全国咨询热线:
													</div>
													<div class="contact_section_content">
														<strong>400-600-2010</strong>
													</div>
												</div>
												
												<div>
													<div class="try_section_title">
														邮件咨询:
													</div>
													<div style="padding-left: 12px; font-size: 13px;">
														service#qiaobutang.com
													</div>
													<div class="try_section_content">
														( 将 # 改成 @ )
													</div>
												</div>
											</div>
										</div>
									</div>
								</td>
								
								<td align="right" valign="top" style="width: 11px;">
									<div class="round_corner_top_right"> </div>
									
									<div>
										<img src="/images/coach/stp/vertical_line.jpg" border="0" />
									</div>
								</td>
							</tr>
						</table>
					</div>
				</td>
				
				<td align="left" valign="top" style="width: 700px;">
					<div>
						<a href="/coach/stp">
							<img src="/images/coach/stp/banner.jpg" border="0" /></a>
					</div>
					
					<div>
						<table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
							<tr>
								<td align="left" valign="top" style="width: 11px;">
									<div class="round_corner_top_left"> </div>
								</td>
								
								<td align="center" valign="top" style="width: 100%; background: transparent url(/images/coach/stp/round_hori_dot.jpg) repeat-x scroll left 0px;">
									<div class="right_content_container">
										<%= render :partial => @content %>
									</div>
								</td>
								
								<td align="right" valign="top" style="width: 11px;">
									<div class="round_corner_top_right"> </div>
									
									<div>
										<img src="/images/coach/stp/vertical_line.jpg" border="0" />
									</div>
								</td>
							</tr>
						</table>
					</div>
					
				</td>
			</tr>
		</table>
	</div>
	
	<div>
		<img src="/images/coach/stp/bottom_cities.jpg" border="0" />
	</div>
</div>


<script type="text/javascript">
	function show_tab(tab_name) {
		var tabs = ["sales", "intern", "qiuzhi"]
		for(var i=0; i<tabs.length; i++) {
			var tab = document.getElementById("tab_" + tabs[i]);
			var tab_content = document.getElementById("tab_content_" + tabs[i]);
			
			if(tabs[i] == tab_name) {
				tab.style.display = "";
				tab_content.style.display = "";
			}
			else {
				tab.style.display = "none";
				tab_content.style.display = "none";
			}
		}
	}
</script>


