<div class="bookmark">
	»
	<a href="<%= h(bookmark_small.url) %>" target="_blank" class="account_nick_link" title="<%= h(bookmark_small.desc) %>">
		<%= h(bookmark_small.title) %>
		<img src="/images/ext_link_small.gif" border="0" /></a>	
	&nbsp;&nbsp;

	<span class="form_info_s">
		<%= format_date(bookmark_small.created_at) %>
	</span>
</div>


