<% # should be cached %>

<% selected_group_id ||= "" %>

<%
	owner_id = session[:account_id]
	
	group_ids = GroupMember.get_account_group_ids(owner_id)
	groups = Group.find(
		:all,
		:select => "id, name",
		:conditions => ["id in (?)", group_ids],
		:order => "id DESC"
	)
%>

<select id="group_id" name="group_id" class="dropdown_list">
	<% groups.each do |group| %>
		<option value="<%= group.id %>"
			<%= %Q! selected="selected"! if group.id == selected_group_id %>
		>
			<%= h(group.name) %>
		</option>
	<% end %>
</select>


