<% skip_lib &&= true %>

<% unless skip_lib %>
	<link href="/lib/greybox/gb_styles.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript">
		var GB_ROOT_DIR = "/lib/greybox/";
	</script>

	<script type="text/javascript" src="/lib/greybox/AJS.js"></script>
	<script type="text/javascript" src="/lib/greybox/AJS_fx.js"></script>
	<script type="text/javascript" src="/lib/greybox/gb_scripts.js"></script>
<% end %>

<script type="text/javascript">
	var bookmark_link_html = "";
	bookmark_link_html += "<a ";
	bookmark_link_html +=  	"rel=\"gb_page_center[580, 260]\" ";
	bookmark_link_html +=  	"title=\"推荐/收藏- <%= title %>\" ";
	bookmark_link_html +=  	"href=\"/bookmarks/inline_add_form?";
	bookmark_link_html +=  		"url=" + encodeURIComponent("<%= url %>");
	bookmark_link_html +=  		"&title=" + encodeURIComponent("<%= title %>");
	bookmark_link_html +=	"\" ";
	bookmark_link_html +=  	"target=\"_blank\"";
	bookmark_link_html +=  ">";
	bookmark_link_html +=  		"<img src=\"/images/bookmarks/inline_add.png\" ";
	bookmark_link_html +=  			"border=\"0\" ";
	bookmark_link_html +=  		"/>";
	bookmark_link_html +=  "</a>";
	
	document.write(bookmark_link_html);
</script>



