<div class="friend_nick_pic">
	<div>
		<a href="/messages/compose/<%= friend[3] %>">
			<img src="<%= face_img_src(friend[1]) %>" border="0" /></a>
	</div>
	<div>
		<a href="/messages/compose/<%= friend[3] %>" class="account_nick_link">
			<%= friend[0] %></a>
	</div>	
</div>