<div>
	
	<div>
		Hi <%= h(@nick) %>,
	</div>

	<p>
		你在 <%= @source %> 的密码是:  <b><%= @password %></b>
	</p>
	
	
	
	<br />
	<br />
	<br />
	<font color="#B3ABA2">
		<div>
			乔布堂: <a href="http://www.qiaobutang.com" target="_blank">http://www.qiaobutang.com</a>
		</div>
		<div>
			乔布圈: <a href="http://www.qiaobuquan.com" target="_blank">http://www.qiaobuquan.com</a>
		</div>
	</font>
	
</div>


