<div>
	
	<p>
		<%= @name %> 你好,
	</p>
	
	<p>
		感谢你使用<b>上海海洋大学人才库系统</b>，我们很希望获得你对本次系统使用的反馈，你的回答将帮助我们更好的开发和改善人才库系统，为你提供更好的服务。你的反馈结果仅用于支持本项目的开发及相关评估。
	</p>
	
	<p>
		问题（全部为选择题）可能花费你几分钟时间，请点击以下链接进行反馈：
		<br />
		<a href="http://www.qiaobutang.com/career_tests/show/4" target="_blank">
			http://www.qiaobutang.com/career_tests/show/4</a>
	</p>
	
	<p>
		我们将从给予反馈的同学中随机选取5名，提供第二份简历的一对一修改。再次感谢你对我们服务的支持和帮助！
	</p>
	
	
	
	<br />
	<br />
	<br />
	<font color="#B3ABA2">
		<div>
			---
		</div>
		<div>
			乔布堂: <a href="http://www.qiaobutang.com/index" target="_blank">http://www.qiaobutang.com</a>
		</div>
		<div>
			乔布圈: <a href="http://www.qiaobuquan.com" target="_blank">http://www.qiaobuquan.com</a>
		</div>
		<div>
			上海海洋大学人才库: <a href="http://shou.qiaobutang.com" target="_blank">http://shou.qiaobutang.com</a>
		</div>
	</font>
	
</div>
