<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FAFFE7" do %>
	<div class="toolkit_box">
		<% form_tag "/toolkits/password_strength", :method => :post do %>
			<label for="password">密码:</label>
			<input type="password" id="password" name="password" class="text_field" size="30" />
			
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="submit" value="检测强度" class="button" />
		<% end %>
	</div>
<% end %>
