<div class="community_title">
	试试其他小工具 ...
</div>

<div class="community_block">
	<p>
		<a href="/toolkits/astrology">查询星座</a>
	</p>
	<p>
		<a href="/toolkits/password_strength">检测密码强度</a>
	</p>
</div>


