<% community_page_title("工具箱") %>

<div class="float_r community_container_r">
	<div class="community_title">

	</div>
	<div class="community_block">

	</div>
</div>

<div class="community_container_l">
	<div class="community_title">
		查询星座 ...
	</div>
	<div class="community_block_narrow">
		<%= render :partial => "astrology_form" %>
	</div>
	
	<div class="community_title">
		检测密码强度 ...
	</div>
	<div class="community_block_narrow">
		<%= render :partial => "password_strength_form" %>
	</div>
</div>

<div class="clear"></div>
