<div>
	<% if photos.size > 0 %>
	
		<div class="form_info_s">
			包含 <b><%= photos.size %></b> 张照片
		</div>
		<%= render(:partial => "/blogs/album_photo_for_blog", :collection => photos) %>
	
	<% else %>
	
		<div>
			相册中还没有照片 ... 现在就去 <a target="_blank" href="/albums/<%= album.id %>/upload">添加照片</a> 吧
		</div>
	
	<% end %>
</div>