<% page_title = "校园招聘信息" %>
<% community_page_title(page_title) %>

<div id="ad_col" class="float_l" style="display: none; width: 150px;">
	bbb
</div>

<div id="info_col" style="padding: 0px 5px; margin-left: 0px;">
	<a class="float_r" href="/recruitments/feed.atom">
		<img src="/images/feed_icon.gif" border="0" alt="订阅最新招聘信息" title="订阅最新招聘信息" /></a>
		
	<h2>
		<span>
			<a href="#" onclick="toggle_ad_col(); return false;">aaaaaa</a>
		</span>
		<%= page_title %>
	</h2>
	
	
	<div class="community_block">
		<div class="recruitment_by_city_container">
			
			<div class="float_l recruitment_by_city">
				<div class="recruitment_by_city_title">
					上&nbsp;&nbsp;海
				</div>
				<div>
					<a href="#" class="account_nick_link">
						全职工作</a>
				</div>
				<div>
					<a href="#" class="account_nick_link">
						兼职实习</a>
				</div>
			</div>
			
			<div class="float_l recruitment_by_city">
				<div class="recruitment_by_city_title">
					北&nbsp;&nbsp;京
				</div>
				<div>
					<a href="#" class="account_nick_link">
						全职工作</a>
				</div>
				<div>
					<a href="#" class="account_nick_link">
						兼职实习</a>
				</div>
			</div>
			
			<div class="float_l recruitment_by_city">
				<div class="recruitment_by_city_title">
					广&nbsp;&nbsp;州
				</div>
				<div>
					<a href="#" class="account_nick_link">
						全职工作</a>
				</div>
				<div>
					<a href="#" class="account_nick_link">
						兼职实习</a>
				</div>
			</div>
			
			<div class="float_l recruitment_by_city">
				<div class="recruitment_by_city_title">
					武&nbsp;&nbsp;汉
				</div>
				<div>
					<a href="#" class="account_nick_link">
						全职工作</a>
				</div>
				<div>
					<a href="#" class="account_nick_link">
						兼职实习</a>
				</div>
			</div>
			
			<div class="float_l recruitment_by_city">
				<div class="recruitment_by_city_title">
					深&nbsp;&nbsp;圳
				</div>
				<div>
					<a href="#" class="account_nick_link">
						全职工作</a>
				</div>
				<div>
					<a href="#" class="account_nick_link">
						兼职实习</a>
				</div>
			</div>
			
			<div class="float_l recruitment_other_city">
				<a href="#" class="account_nick_link">天津</a>
				<a href="#" class="account_nick_link">南京</a>
				<a href="#" class="account_nick_link">重庆</a>
				<a href="#" class="account_nick_link">成都</a>
				<a href="#" class="account_nick_link">天津</a>
				
				<br />
				
				<a href="#" class="account_nick_link">杭州</a>
				<a href="#" class="account_nick_link">西安</a>
				<a href="#" class="account_nick_link">济南</a>
				<a href="#" class="account_nick_link">长沙</a>
				<a href="#" class="account_nick_link">其他</a>
			</div>
			
			<div class="float_l recruitment_more_city">
				<div style="margin-top: -2px;">
					<% form_tag "/recruitments/location", :method => :get do %>
						<select name="name" class="dropdown_list">
							<% Recruitment.get_locations.each do |l| %>
								<% location_name = h(l) %>
								<option value="<%= location_name %>"><%= location_name %></option>
							<% end %>
						</select>

						<input type="submit" class="button" value="查看" />
					<% end %>
				</div>
				
				<div style="margin-top: 5px;">
					<% form_tag "/recruitments/location", :method => :get do %>
						<input type="text" class="text_field text_field_tip" name="name" value="输入城市" class="" style="width: 50px; color: #B2B2B2;" onfocus="if(this.value == '输入城市') { this.value = ''; this.style.color = '#000000'}" onblur="if(this.value == '') { this.value = '输入城市'; this.style.color = '#B2B2B2'}" />

						<input type="submit" class="button" value="查看" />
					<% end %>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="community_block">
		<table cellpadding="0" cellspacing="0" border="0" class="main_part_w">
			<tr>
				<td align="left" valign="top" style="width: 50%;">
					
					<div>
						
					</div>
					
				</td>
				
				<td align="left" valign="top" style="width: 50%;">
					right
				</td>
			</tr>
		</table>
	</div>
</div>



<script language="JavaScript" type="text/javascript">
	function toggle_ad_col(show) {
		var ad_col_ele = document.getElementById("ad_col");
		var info_col_ele = document.getElementById("info_col");
		if(show == null) {
			show = (ad_col_ele.style.display == "none");
		}
		toggle_func_list(!show);
		info_col_ele.style.marginLeft = show ? "150px" : "0px";
		ad_col_ele.style.display = show ? "" : "none";
	}
	
	toggle_ad_col(false);
</script>


