<div class="community_block">
	<%= unchecked_alert(account_checked && true) %>
</div>


<% if general_admin?(session[:account_id]) %>
	<div class="community_block">
		<% form_tag "/coach/course_applications", :method => :post do %>
			<input type="submit" value="浏览 报名课程/咨询详情 申请表" class="button" />
		<% end %>
	</div>
<% end %>


<div class="community_title">
	用户设置 ...
</div>
<div class="community_block">

	<ul>
		<li><a href="/account_settings/profile/<%= session[:account_id] %>">资料可见性</a></li>
	</ul>

</div>


