<% Photo.set_photo_cache(photo.id, photo) %>

<div class="space_photo">
	<a target="_blank" href="/photos/<%= photo.id %>" title="<%= photo.title %>"><img src="<%= photo.image.url(:thumb_80) %>" border="0" alt="<%= photo.title %>" /></a>
</div>