body {
	background-color: #EAEAEA;
}

#content_container {
	margin: 0px auto;
	width: 750px;
	
	background-color: #FFFFFF;
	border-left: 2px solid #C0C0C0;
	border-right: 2px solid #C0C0C0;
	
	font-size: 12px;
}


.banner_container {
	margin-bottom: 50px;
}

.activity_container {
	padding: 0px 20px;
}

.activity_image_container_l {
	float: left;
}

.activity_image_container_r {
	float: right;
}

.activity_image_container_l, .activity_image_container_r {
	margin-right: 15px;
}

.activity_photos_container_l {
	margin-left: 250px;
	margin-right: 20px;
}

.activity_photos_container_r {
	margin-right: 250px;
	margin-left: 20px;
}

.activity_photos_container_l, .activity_photos_container_r {
	background-color: #F7F7F7;
	height: 200px;
}

.activity_photo_l {
	float: right;
}

.activity_photo_r {
	float: left;
}

.activity_photo_l, .activity_photo_r {
	margin: 5px 10px;
	padding: 3px;
	width: 80px;
	border: 1px dotted #C2E3EF;
	text-align: center;	
}

.more_container {
	text-align: center;
	margin-top: 12px;
}

.more_container a {
	text-decoration: none;
}

.more_container a:hover {
	text-decoration: underline;
}

.activity_name_container_l {
	left: 690px;
	top: -220px;
}

.activity_name_container_r {
	left: -75px;
	top: -220px;
}

.activity_name_container_l, .activity_name_container_r {
	position: relative;
	width: 100px;
}

.schedule_container {
	width: 700px;
	margin-top: 5px;
}



