body {
	text-align: center;
}

#root_container {
	margin: 0px auto;
	width: 800px;
	
	text-align: left;
	
	font-size: 12px;
}



.seekjob_tab ul {
	list-style: none;
	border-bottom: 1px solid #B2B2B2;
	padding-left: 15px;
}

.seekjob_tab ul li {
	display: inline;
	margin-left: 3px;
}

.seekjob_tab ul li a {
	text-decoration: none;
	color: #333333;
	padding: 5px 10px 3px 10px;
	border: 1px solid #EAEAEA;
	border-bottom: 0px;
}

.seekjob_tab ul li a:hover {
	color: #FFFFFF;
	background-color: #FF9900;
}

.seekjob_tab ul li a.selected {
	color: #FFFFFF;
	background: #FF9900;
	
	font-size: 14px;
	font-weight: bold;
	
	padding-top: 6px;
}


#main_menus_container {
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #EAEAEA;
	border-bottom-style: solid;
}

#main_menus_container .contact_info {
	font-size: 12px
}

.menu_bar {
	margin-left: 120px;
}

.menu_bar table {
	margin: 0px;
	padding: 0px;
}

.menu_bar a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	color: #000000;
}

.menu_bar td {
	width: 80px;
	text-align: center;
}

.menu_bar td.gap {
	width: 20px;
}

.menu_bar a.menu_selected {
	background-color: #FF9900;
	color: #FFFFFF;
	font-weight: bold;
}

.index_contailer_l {
	float: left;
	width: 600px;
	
	border-right: 1px dotted #EAEAEA;
}

.index_container_r {
	margin-left: 600px;
}

.index_title_small {
	margin-left: 25px;
	padding-left: 25px;
	border-left: 3px solid #EAEAEA;
}

.index_block {
	margin-left: 50px;
	margin-top: 20px;
}

.index_block div {
	margin-top: 5px;
}

.index_title_small li {
	list-style-type: disc;
}

.index_container_l_block {
	margin: 0px 15px;
}

.index_container_l_section {
	padding: 1px 3px;
}

.index_container_l_section_title {
	background-color: #EAEAEA;
	padding-left: 5px;
	height: 25px;
	font-weight: bold;
}

.index_container_l_section_content {
	padding: 5px;
}

.seek_job_form {
	padding: 5px 15px;
}

.index_post, .orange_bar {
	width: 550px;
	margin-left: 23px;
}

.orange_bar {
	background:transparent url(/images/real_index/orange_bar.gif) no-repeat scroll 0 0;
	color: #FFFFFF;
	font-size: 12px;
	height: 47px;
	width: 550px;
}

.orange_bar table {
	width: 540px;
	margin-left: 5px;
	margin-top: 5px;
	
	border: 1px solid;
}

.index_button {
	padding: 3px 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #A3988C;
	cursor: pointer;
}

.coach_right_column {
	float: right;
	width: 200px;
	
	border-left: 1px dotted #EAEAEA;
}

.coach_container {
	margin-right: 200px;
}

.coach_container_l {
	float: left;
	width: 150px;
}

.coach_container_r {
	margin-left: 150px;
}

.coach_menus {
	margin: 5px 20px 5px 10px;
}

.coach_menus div {
	padding-left: 10px;
}

.coach_menus a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	color: #000000;
}

.coach_menus div {
	background-color: #EAEAEA;
	margin-top: 3px;
}

.coach_menus div.coach_menu_top {
	background-color: #FF9900;
	margin-top: 0px;
}

.coach_menus div.coach_menu_top a {
	color: #FFFFFF;
	font-weight: bold;
}

.coach_menus div.coach_menu_selected {
	background-color: #F8F8F8;
}

.coach_menus div.coach_menu_selected a {
	color: #FF9900;
}

.coach_related_link_title {
	margin-top: 30px;
	margin-left: 20px;
}

.coach_related_link_content li {
	list-style-type: disc;
}

.coach_block {
	margin: 0px 10px 0px 3px;
	margin-bottom: 15px;
}

.course_info_table, .course_info_table_2 {
	width: 420px;
	margin-top: 10px;
	text-align: left;
}

.course_info_table td, .course_info_table_2 td {
	padding: 3px;
}

.course_info_table th, .course_info_table_2 th {
	border-right: 2px solid #C0C0C0;
	border-bottom: 2px solid #C0C0C0;
	text-align: center;
}

.course_info_table th, .course_info_table td {
	background-color: #E5F5FF;
}

.course_info_table_2 th, .course_info_table_2 td {
	background-color: #FFF9E1;
}

.know_more_section {
	margin-left: 15px;
	margin-top: 25px;
	border-top: 1px dashed #EAEAEA;
}

.know_more_section a {
	color: #FF9900;
}

.methodology_right_block {
	margin-left: 25px;
	margin-top: 20px;
}

