body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 90%;
	line-height: 150%;

	margin: 0px;
	padding: 0px;
}

a {
	color: #3B5998;
}

h2 {
	font-size: 18px;
}

form {
	margin: 0px;
	padding: 0px;
}

.hidden {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 0;
	height: 0;
	border: 0;
}


div.auto_complete {
	position: absolute;
	width: 250px;
	background-color: white;
	border: 1px solid #A3988C;
	margin: 0px;
	padding: 0px;
}
div.auto_complete ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
div.auto_complete ul li.selected {
	background-color: #FAFFE7;
}
div.auto_complete ul li {
	list-style-type: none;
	margin: 0;
	padding: 2px;
	cursor: pointer;
}


.pagination {
	text-align: center;
	padding: .3em;
}
.pagination a, .pagination span {
	padding: .2em .5em; 
}
.pagination span.disabled {
	color: #AAA; 
}
.pagination span.current {
	font-weight: bold;
	color: #FF0084;
}
.pagination a {
	border: 1px solid #DDDDDD;
	color: #0063DC;
	text-decoration: none;
}
.pagination a:hover, .pagination a:focus {
	border-color: #003366;
	background: #0063DC;
	color: white;
}
.pagination .page_info {
	color: #aaa;
	padding-top: .8em;
}
.pagination .prev_page, .pagination .next_page {
	border-width: 2px;
}
.pagination .prev_page {
	margin-right: 1em;
}
.pagination .next_page {
	margin-left: 1em;
}


.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating{
	background: url(/lib/star_rating/star.gif) left -1000px repeat-x;
}
.star-rating{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating li{
	display: inline;
}
.star-rating a, 
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus{
	background-position: left bottom;
}
.star-rating a.star_1{
	width:20%;
	z-index:6;
}
.star-rating a.star_2{
	width:40%;
	z-index:5;
}
.star-rating a.star_3{
	width:60%;
	z-index:4;
}
.star-rating a.star_4{
	width:80%;
	z-index:3;
}
.star-rating a.star_5{
	width:100%;
	z-index:2;
}
.star-rating .current-rating{
	z-index:1;
	background-position: left center;
}
.star-rating a.readonly{
	width: 0%;
}
.inline-rating{
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
}
.small-star{
	width:50px;
	height:10px;
}
.small-star,
.small-star a:hover,
.small-star a:active,
.small-star a:focus,
.small-star .current-rating{
	background-image: url(/lib/star_rating/star_small.gif);
	line-height: 10px;
	height: 10px;
}



#top_bar {
	margin-bottom: 10px;
	border-bottom: 1px solid #B2B2B2;
	
	font-size: 13px;
}

#top_bar a {
	text-decoration: none;
}

#top_bar a:hover {
	text-decoration: underline;
}

#bottom_bar {
	margin-top: 10px;
	margin-bottom: 5px;
	
	text-align: right;
	margin-right: 20px;
	
	font-size: 12px;
	color: #B3ABA2;
	
	line-height: 146%;
}

#bottom_bar #beianhao {
	margin-left: 5px;
	color: #B3ABA2;
	text-decoration: none;
}

#bottom_bar #beianhao:hover {
	text-decoration: underline;
}

#top_bar_left {
	float: left;
	margin-left: 20px;
}

#top_bar_left, #top_bar_right {
	word-spacing: 5px;
}

#top_bar_right {
	margin-right: 30px;
}

#bottom_links {
	background-color: #FAFAFA;
	border-top: 1px solid #D0D0D0;
	margin-top: 100px;
	
	font-size: 12px;
}

#bottom_links a {
	text-decoration: none;
	color:#333333;
}

#bottom_links a:hover {
	text-decoration: underline;
}

.page_container {
	margin: 0px auto;
	max-width: 980px;
}

.head_container {
	margin-bottom: 20px;
}

.main_part_w {
	width: 100%;
}
/* ie6 fixed */
*html .main_part_w {
	width: 98%;
}

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.align_c {
	text-align: center;
}

.align_r {
	text-align: right;
}

.overflow_hidden {
	overflow: hidden;
}

.highlight {
	background-color: yellow;
}

.tag_cloud {
	line-height: 250%;
}

.tag_cloud a {
	text-decoration: none;
}

.tag_cloud a:hover {
	text-decoration: underline;
}






.logo_container {
	width: 165px;
	font-size: 12px;
	color: #80807F;
}

.main_nav {
	font-size: 16px;
	margin-bottom: 2px;
	word-spacing: 20px;
}

.main_nav_content a, .main_nav_sub_content a {
	text-decoration: none;
}

.main_nav_content a {
	color: #BB9966;
	font-weight: bold;
}

.main_nav_sub_content a {
	color: #336699;
}

.main_nav_content a:hover, .main_nav_sub_content a:hover {
	text-decoration: underline;
}

.main_nav_sub_content {
	font-size: 12px;
	text-align: right;
	word-spacing: 5px;
}

.sub_nav {
	height: 20px;
	font-size: 12px;
	padding: 5px;
	background-color: #FFF5E8;
}

.sub_nav a {
	color: #336699;
}

.clear_l {
	clear: left;
}

.clear_r {
	clear: right;
}

.clear {
	clear: both;
}

#func_list_container {
	width: 150px;
}

#func_list {
	list-style-type: none;
	margin: 0px;
	padding: 10px 5px;
	background-color: #FAFFE7;
}

#func_list li {
	margin: 5px 0px 10px 30px;
	padding-left: 5px;
}

#func_list a {
	font-size: 14px;
	color: #666699;
	text-decoration: none;
}

#func_list a:hover {
	text-decoration: underline;
}

.text_field {
	border-style: solid;
	border-width: 1px;
	border-color: #A3988C;
}

textarea.text_field {
	padding: 3px;
}

.text_field:hover {
	border-style: inset;
}

.text_field:active {
	border-style: inset;
}

.text_field:focus {
	border-style: inset;
}

.button {
	padding: 1px 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #A3988C;
	background: #FFF5E8;
	cursor: pointer;
}

.button:hover {
	border-style: outset;
}

.button:active {
	border-style: inset;
}

select.dropdown_list, .dropdown_list select {
	border-style: solid;
	border-width: 1px;
	border-color: #BDC7D8;
	padding: 1px 2px;
}

.fieldset {
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
}

.search_input {
	background-image: url(/images/index/search.png);
	background-repeat: no-repeat;
	background-position: 0px -2px;
	padding-left: 25px;
}



.content_body {
	font-size: 12px;
	margin-left: 150px;
}

.register_form input, .login_form input, .div_form input, .div_form textarea {
	margin: 5px 0px 5px 10px;
	padding: 2px;
}

.form_info_s, .form_info_l {
	color: #B3ABA2;
}

.form_info_l {
	background-image: url(/images/info_small.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
}

.community_container_l {
	margin-right: 300px;
	padding: 0px 20px
}

.community_container_r {
	width: 300px;
}

.community_title {
	color: #EE9966;
	font-size: 14px;
	margin-top: 20px;
}

.community_title a.more_part {
	float: right;
	font-size: 12px;
}

.community_block {
	padding: 5px;
}

.community_block_narrow {
	padding-left: 30px;
}

.error_msg, .info_msg, .warning_msg, .important_info_msg {
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 2px 10px 2px 30px;
	background-color: #FFFDC0;
}

.error_msg {
	background-image: url(/images/error_small.gif);
	border: 1px dashed red;
	color: red;
}

.info_msg {
	background-image: url(/images/info_small.gif);
	border: 1px dashed green;
	color: green;
}

.warning_msg {
	background-image: url(/images/warning_small.png);
	border: 1px dashed #DDDDDD;
	color: #555555;
}

.important_info_msg {
	background-color: #FFFEDF;
	background-image: url(/images/important_info_small.gif);
	border: 1px dashed #CCCCCC;
	color: #444444;
}

.profile_edit_section_nav {
	margin-left: 20px;
	word-spacing: 15px;
	text-align: left;
}

.profile_edit_section_nav a {
	color: #666699;
}

.profile_edit_section_nav a:hover {
	text-decoration: underline;
}

.link_selected {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.profile_container {
	padding: 0px 20px;
}

.profile_container_l {
	margin-right: 250px;
	padding: 0px 20px
}

.profile_container_r {
	width: 220px;
}

.resume_container {
	max-width: 778px;
	overflow: hidden;
	border: 1px dashed #DDDDDD;
	padding: 5px;
}

.resume_title {
	background-color: #F0F3FA;
	border-top: 1px solid #CCCCCC;
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
}

.resume_block {
	padding: 5px;
	margin-bottom: 5px;
}

.resume_photo {
	padding: 5px;
	width: 120px;
	height: 120px;
	text-align: center;
}

.toolkit_box {
	padding: 15px;
}
/* ie6 fixed */
*html .toolkit_box {
	padding: 0px 15px;
}

th.table_header, .table_header th {
	background-color: #F7F7F7;
	border-bottom: solid 1px #D9E5E8;
	border-right: solid 1px #D9E5E8;
	font-weight: normal;
	text-align: center;
	color: #666666;
}

.profile_edu_name, .profile_job_name {
	color: #666699;
}

.profile_job_name {
	font-size: 14px
}

.album_container {
	padding: 0px 10px
}

.album_container_l {
	margin-right: 200px;
	padding: 0px 20px;
}

.album_container_r {
	width: 200px;
}

.photo_container_l {
	margin-right: 180px;
	padding: 0px 20px;
}

.photo_container_r {
	width: 180px;
}

.icon_button {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 16px;
}

.add_file_button {
	background-image: url(/images/add_file_small.gif);
}

.upload_file_button {
	background-image: url(/images/upload_small.gif);
}

.stop_upload_file_button {
	background-image: url(/images/pause_small.gif);
}

.uploaded_photo {
	float: left;
	margin: 0px 4px 8px 4px;
	border: 1px solid #C2E3EF;
	padding: 5px;
	width: 80px;
	height: 80px;
	text-align: center;
}

.uploaded_photo_name {
	width: 80px;
	height: 20px;
	overflow: hidden;
	margin: 8px 0px 8px 0px;
}

.uploaded_photo_status {
	margin-bottom: 8px;
}

.uploaded_photo_progress {
	border: 1px solid #C2E3EF;
	text-align: left;
	height: 5px;
	width: 78px;
}

.uploaded_photo_progress div {
	background: #7BB963;
	height: 5px;
	width: 0;
}

.uploaded_photo_done {
	float: left;
	margin: 0px 4px 8px 4px;
	border: 1px dotted #C2E3EF;
	padding: 5px;
	width: 80px;
	height: 80px;
	text-align: center;
}

.upload_photo_stat_number {
	font-size: 14px;
	font-weight: bold;
}

.album_photo_item {
	float: left;
	margin: 15px;
	width: 130px;
}

.album_photo_img {
	padding: 5px;
	width: 120px;
	height: 120px;
	text-align: center;
	border: 1px dotted #C2E3EF;
	background-color: #F7F7F7;
}

.album_photo_info {
	padding: 0px 5px;
	word-spacing: 5px;
	text-align: right;
}

.action_bar {
	padding: 3px 20px 0px 20px;
	word-spacing: 15px;
}

.action_bar a {
	text-decoration: none;
}

.action_bar a:hover {
	text-decoration: underline;
}

a.browser_album_link {
	font-size: 14px;
	text-decoration: none;
}

a.browser_album_link:hover {
	text-decoration: underline;
}

.edit_album_photo {
	float: left;
	margin: 0px 0px 8px 4px;
	padding: 5px;
	text-align: center;
	width: 80px;
	height: 80px;
	border: 1px dotted #C2E3EF;
}

.edit_album_cover_photo {
	margin: 30px;
	padding: 5px;
	text-align: center;
	width: 80px;
	height: 80px;
	border: 1px dotted #C2E3EF;
}

.album_item {
	float: left;
	width: 220px;
	margin: 20px;
}

.album_title {
	font-size: 14px;
}

.album_title a {
	text-decoration: none;
}

.album_title a:hover {
	text-decoration: underline;
}

.album_img {
	padding: 10px;
	width: 200px;
	height: 200px;
	text-align: center;
	border: 1px dashed #C2E3EF;
	background-color: #F7F7F7;
}

.album_info {
	padding: 0px 15px;
	word-spacing: 5px;
}

.album_photo_for_face {
	float: left;
	margin: 0px 3px 6px 3px;
	border: 1px dotted #C2E3EF;
	padding: 3px;
	width: 48px;
	height: 48px;
	text-align: center;
}

.pic_profile_current_pic_photo {
	margin: 0px 10px 6px 3px;
	border: 1px dotted #C2E3EF;
	padding: 3px;
	width: 48px;
	height: 48px;
	text-align: center;
}

.same_album_photo {
	text-align: center;
}

.same_album_photo a {
	border: 1px dotted #DDDDDD;
	text-decoration: none;
}
.same_album_photo a:hover, .same_album_photo a:focus {
	border-color: #003366;
	background: #0063DC;
	color: white;
}

.photo_view {
	text-align: center;
	max-width: 600px;
	overflow: hidden;
}
	
.photo_view_container {
	background-color: #F7F7F7;
}

.photo_view_actions_container {
	text-align: right;
	padding-right: 30px;
	font-size: 14px;
}

.comment_container {
	border: 1px dotted #C2E3EF;
	margin-bottom: 10px;
}

.comment_title {
	margin: 1px ;
	padding: 3px;
	background-color: #F7F7F7;
}

.comment_content {
	padding: 5px;
}

.comment_content img {
	margin-right: 15px;
	margin-bottom: 5px;
}

.comment_content p {
	margin: 0px;
	padding: 0px;
}

.comment_info {
	padding: 5px;
}

.blog_container {
	padding: 0px 10px;
}

.blog_container_l {
	margin-right: 200px;
	padding: 0px 20px;
}

.blog_container_l * {
	max-width: 600px;
}

.blog_container_r {
	width: 180px;
}

.blog_small_container_l {
	margin-right: 300px;
	padding: 0px 30px;
}

.blog_small_container_r {
	width: 270px;
}

.owner_blog {
	margin-bottom: 15px;
}

a.owner_blog_title {
	color: #EE9966;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

a.owner_blog_title:hover {
	text-decoration: underline;
}

.owner_blog_content {
	padding: 2px;
	margin: 10px 0px;
	color: #6B6B6B;
}

.owner_blog_action_bar {
	text-align: right;
	word-spacing: 5px;
	margin: 10px;
}

.space_large_face_container {
	text-align: center;
}

.space_photo {
	float: left;
	margin: 10px 5px;
	padding: 2px;
	width: 80px;
	border: 1px dotted #C2E3EF;
}

.space_blog {
	margin-bottom: 15px;
	padding: 0px 5px;
}

.space_blog_title a {
	font-size: 14px;
}

.friend_container_l {
	margin-right: 150px;
	padding: 0px 20px;
}

.friend_container_r {
	width: 150px;
}

a.account_nick_link, a.group_name_link {
	text-decoration: none;
}

a.account_nick_link:hover, a.group_name_link:hover {
	text-decoration: underline;
}

.friend_nick_pic, .group_name_img {
	float: left;
	margin: 5px 1px;
	text-align: center;
	width: 80px;
}

.community_index_group {
	float: left;
	margin-bottom: 20px;
	text-align: center;
	width: 80px;
}

.community_index_post {
	margin-bottom: 5px;
}

.space_section_title {
	background-color: #FFF5E8;
	border-top: solid 1px #F0E0CF;
	padding: 3px 10px;
	margin-bottom: 5px;
	vertical-align: middle;
}

.message_container, .unread_message_container {
	margin: 5px 10px;
}

.message_summary {
	width: 75%;
	font-size: 14px;
}

.message_summary td {
	border: 1px solid #E1E1E1;
}

.unread_message_container {
	font-weight: bold;
}

.message_content {
	padding: 5px;
}

.message_content img {
	margin-right: 15px;
	margin-bottom: 5px;
}

.message_content p {
	margin: 0px;
	padding: 0px;
}

.message_info {
	padding: 5px;
}

.account_action_item, .unread_account_action_item {
	padding: 2px;
	border-bottom: 1px solid #D8DFEA;
}

.unread_account_action_item {
	font-weight: bolder;
}

.account_action_item img {
	margin: 3px;
}

.account_action_datetime {
	font-size: 10px;
	margin-right: 15px;
	text-align: right;
}

.group_container_l {
	margin-right: 250px;
	padding: 0px 20px
}

.group_container_r {
	width: 250px;
}

.group_setting_category_label {
	color: #666666;
	padding-left: 30px;
}

.activity_container_l {
	margin-right: 210px;
	padding: 0px 10px;
}

.activity_container_l * {
	max-width: 600px;
}

.activity_container_r {
	width: 210px;
}

.activity_status {
	font-size: medium;
	font-weight: bold;
}

.activity_title {
	font-size: 14px;
}

.activity_title a {
	text-decoration: none;
}

.activity_title a:hover {
	text-decoration: underline;
}

.activity_info_label {
	color: #777777;
}

.group_activity_small {
	float: left;
	margin: 5px;
	width: 260px;
}

.community_index_activity {
	float: left;
	margin-bottom: 20px;
	text-align: center;
	width: 95px;
}

.community_index_activity .image_part {
	height: 80px;
}

.community_index_activity .text_part {
	margin-top: 10px;
}

.linked_photo_for_select {
	float: left;
	margin: 0px 3px 6px 3px;
	border: 1px dotted #C2E3EF;
	padding: 3px;
	width: 75px;
	height: 48px;
	text-align: center;
}

.ext_link_small {
	height: 30px;
}

.linked_photo_small {
	float: left;
	margin: 5px;
	padding: 2px;
	text-align: center;
	width: 80px;
	border: 1px dotted #C2E3EF;
}

.linked_photo {
	float: left;
	margin: 10px 5px;
	padding: 1px;
	width: 120px;
	border: 1px dotted #C2E3EF;
}

.search_result_title {
	font-size: 14px;
}

.search_result_body {
	padding: 2px;
	margin: 5px 0px;
}

.search_result_info {
	text-align: right;
	word-spacing: 5px;
}

.search_match {
	background-color: #FFFF00;
	font-weight: bold;
}

.recruitment_container_l {
	margin-right: 280px;
	padding: 0px 40px 0px 20px;
}

.recruitment_container_r {
	width: 280px;
}

.left_ad_container {
	width: 150px;
	
	overflow: hidden;
}

.right_content_container {
	padding: 0px 5px;
	margin-left: 0px;
}

.recruitment_container {
	margin-bottom: 10px;
}

.recruitment_title {
	font-size: 14px;
}

.recruitment_content {
	padding: 0px 20px;
	color: #6B6B6B;
}

.recruitment_tags {
	padding-left: 30px;
	word-spacing: 10px;
}

.recruitment_nav {
	border: 1px solid #F0E0CF;
	background-color: #FAFFE7;
	word-spacing: 8px;
	padding: 4px 20px 1px;
	font-size: 13px;
	color: #B2B2B2;
}

.recruitment_by_city_container {
	background: transparent url(/images/recruitments/by_city_middle.gif) no-repeat scroll 1px 1px;
	border: 1px solid #DADADA;
	height: 63px;
	padding-left: 30px;
}

.recruitment_by_city {
	background: transparent url(/images/recruitments/by_city_sep.gif) no-repeat scroll right center;
	text-align: center;
	line-height: 1.5;
	padding: 4px;
	width: 80px;
}

.recruitment_by_city_title {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 2px;
}

.recruitment_other_city {
	background: transparent url(/images/recruitments/by_city_sep.gif) no-repeat scroll right center;
	line-height: 180%;
	padding: 10px;
	text-align: center;
	word-spacing: 5px;
}

.recruitment_more_city {
	line-height: 180%;
	padding: 10px;
	text-align: center;
}

.recruitment_other_city a {
	font-size: 13px;
	font-weight: bold;
}

.recruitment_list_container {
	border: 1px solid #F0E0CF;
}

.recruitment_list_title {
	margin: 2px;
	padding: 3px 10px 1px;
	background-color: #FFF5E8;
}

.recruitment_list_item {
	color: #888888;
	height: 24px;
	overflow: hidden;
	padding: 0px 10px;
}

.vote_container {
	padding: 0px 0px 0px 10px;
}

.tinymce_content {
	line-height: 1.5;
}

.tinymce_content p {
	margin: 5px;
}

.vote_topic_item {
	margin-bottom: 25px;
}

.vote_topic_preview_result_title {
	padding: 0px 10px;
	font-weight: bold;
	font-size: 14px;
}

.vote_topic_preview_result_action {
	padding: 0px 5px;
	margin-bottom: 15px;
	
	word-spacing: 15px;
}

.vote_topic_item_text_part {
	border-bottom: 1px dashed #CCCCCC;
	padding-left: 5px;
	padding-right: 3px;
}

.vote_topic_list_item_normal_bg {
    background-color: #FFFFFF;
    border-width: 1px;
    border-color: #FFFFFF;
    border-style: solid;
}

.vote_topic_list_item_over_bg {
    background-color: #FFF5E8;
    border-width: 1px;
    border-color: #F0E0CF;
    border-style: solid;
}

.vote_container_l {
	margin-right: 300px;
	padding: 0px 20px;
}

.vote_container_r {
	width: 300px;
}

.account_setting_container_l {
	margin-right: 250px;
	padding: 0px 20px
}

.account_setting_container_r {
	width: 220px;
}

.post_attachment {
	margin-top: 5px;
}

.bookmark_container {
	padding: 0px 20px;
}

.bookmark_container_l {
	margin-right: 200px;
	padding: 0px 20px;
}

.bookmark_container_r {
	width: 200px;
}

.bookmark {
	border-bottom: 1px dashed #DDDDDD;
}

.bookmark_title {
	font-size: 15px;
	font-weight: bold;
}

.add_job_target_order {
	word-spacing: 10px;
	border-bottom: 1px dotted #DDDDDD;
	padding-bottom: 5px;
	margin-bottom: 20px;
	color: #B3ABA2;
}

.add_job_target_order img {
	margin-right: 3px;
}

.add_job_target_order .the_name {
	color: #666666;
	font-weight: bold;
}

.add_job_target_order .current_add_job_target_order {
	color: #000000;
	font-weight: bold;
}

.add_target_item {
	width: 500px;
	border-bottom: 1px dashed #EEEEEE;
	margin-top: 10px;
	padding-left: 15px;
	background: transparent url(/images/job_targets/add_target_item_small.gif) no-repeat scroll left 6px;
}

.add_target_item_title {
	font-weight: bold;
	font-size: 14px;
}

.job_process {
	margin: 5px 8px;
	padding: 2px;
}

.add_process_button {
	background-repeat: no-repeat;
	background-position: 5px center;
	padding: 3px 5px 3px 18px;
	background-image: url(/images/job_targets/add_step_small.gif);
}

.new_step {
	border: 2px groove #C2E3EF;
	margin: 5px 10px;
	padding: 1px 5px;
}

.new_step img {
	margin-right: 4px;
}

.target_text, .target_info {
	padding-left: 5px;
	padding-top: 15px;
}

.target_text {
	font-size: 14px;
	font-weight: bold;
}

.target_star, .target_starred {
	width: 24px;
	height: 34px;
}

.target_star {
	background: transparent url(/images/job_targets/unstarred_icon.png) no-repeat scroll left 10px;
}

.target_starred {
	background: transparent url(/images/job_targets/starred_icon.png) no-repeat scroll left 10px;
}

.step {
	color: #000000;
	
	background-color: #EFEFEF;
	border: 1px solid #DDDDDD;

	margin: 5px 2px 5px 0px;
	padding: 5px 0px;
	
	width: 90px;
	height: 12px;
	
	cursor: pointer;
	
	*line-height: 1.2;
}

.step_current {
	font-weight: bold;
	
	background-color: #CCCCCC;
	border: 1px solid #999999;
}

.step_text {
	width: 48px;
	
	overflow: hidden;
}

.step_status {
	width: 8px;
	height: 8px;
	
	margin: 2px 4px 0px 2px;
}

.step_info {
	color: #333333;
	font-size: 9px;
	font-style: italic;
	
	margin: -5px 2px 0px 0px;
	
	text-align: right;
}

.step_dd_over {
	margin-left: 5px;
	background-image: url(/images/job_targets/put_left_arrow_small.gif);
	background-repeat: no-repeat;
	background-position: -1px center;
}

.step_dd_over .step_status {
	height: 0px;
}

.contact_form_item {
	padding-bottom: 10px;
	border-bottom: 1px dashed #DDDDDD;
}

.contact_form_logo {
	margin-right: 10px;
	margin-top: 10px;
}

.contact_list {
	border: 1px solid #DDDDDD;
	height: 500px;
	overflow: auto;
	padding: 10px;
	margin-bottom: 20px;
}

.contact_list .selector, .contact_list .name, .contact_list .email {
	border-bottom: 1px dashed #DADADA;
	padding: 5px;
}

.contact_list .selector {
	width: 6%;
}

.contact_list .name {
	width: 50%;
	color: #222222;
}

.contact_list .email {
	width: 44%;
	color: #888888;
}

.picture_container_l {
	margin-right: 250px;
	padding: 0px 10px;
}

.picture_container_r {
	width: 250px;
}

.picture {
	float: left;
	margin: 10px;
	padding: 1px;
	width: 160px;
	border: 1px dotted #C2E3EF;
}

.talk_container_l {
	margin-right: 320px;
	padding: 0px 20px;
}

.talk_container_r {
	width: 320px;
}

.talk_show_container_l {
	margin-right: 250px;
	padding: 0px 10px;
}

.talk_show_container_r {
	width: 250px;
}

.talk_container {
	padding: 0px 20px;
}

.talk {
	padding-left: 20px;
	background: transparent url(/images/index/talk_icon.png) no-repeat scroll left 2px;
}

.latest_talk {
	background: transparent url(/images/talks/latest_talk.png) no-repeat scroll left top;
}

.job_item_container {
	padding: 0px 20px;
}

.job_item {
	border-bottom: 1px dashed #CCCCCC;
	padding: 0px 15px;
	margin-bottom: 10px;
	padding-bottom: 3px;
	background: transparent url(/images/job_targets/add_target_item_small.gif) no-repeat scroll left 6px;
}

.exp_item {
	color: #888888;
	height: 26px;
	overflow: hidden;
	padding: 0px 10px 0px 24px;
	background: transparent url(/images/index/exp_icon.gif) no-repeat scroll 2px 2px;
}

.point_number {
	font-size: 14px;
	font-weight: bold;
	color: #CC3300;
}

.point_number strong {
	font-size: 28px;
}

.goal {
	font-size: 16px;
	background: transparent url(/images/index/goal_icon.gif) no-repeat scroll 0px 3px;
	padding-left: 25px;
}

.goal_follow_account {
	float: left;
	margin: 5px;
	text-align: center;
	width: 85px;
}

.add_goal_container {
	border: solid 1px #F0E0CF;
	border-bottom-style: none;
	background-color: #FFF5E8;
	padding: 10px;
}

.goal_links_container {
	color: #555555;
	border: solid 1px #F0E0CF;
	border-top-style: none;
	padding: 5px;
}

.goal_links_title {
	font-size: 14px;
	margin: 5px 5px 10px;
}

.goal_links a {
	font-size:13px;
	line-height: 25px;
	margin: 0px 5px;
	padding: 1px;
	text-decoration: none;
}

.goal_links a:hover {
	text-decoration: underline;
}




