#top_bar {
	margin-bottom: 0px;
}

.left_section {
	width: 197px;
	height: 47px;
	border: 2px solid #E4E4E4;
	
	text-align: left;
}

.left_section_content {
	width: 197px;
	border-left: 2px solid #E4E4E4;
	border-right: 2px solid #E4E4E4;
	border-bottom: 2px solid #E4E4E4;
	
	text-align: left;
}

.left_section_content_body {
	padding: 10px 20px;
}

.left_section_title {
	font-size: 18px;
	font-weight: bold;
	
	padding: 15px;
}

.try_section_title {
	color: #AA8846;
	font-size: 14px;
	font-weight: bold;
}

.try_section_content {
	color: #999999;
	padding-left: 20px;
}

.contact_section_content {
	color: #333333;
	padding: 5px 0px 0px 20px;
	font-size: 16px;
}

.method_section_content {
	color: #333333;
	font-size: 13px;
	background: transparent url(/images/coach/bullet_icon_small.png) no-repeat scroll left center;
	padding-left: 8px;
}

.right_content_container {
	width: 650px;
}

.round_corner_top_left {
	width: 11px;
	height: 11px;
	background: transparent url(/images/coach/stp/round_top_left.jpg) no-repeat scroll left 0px;
}

.round_corner_top_right {
	width: 11px;
	height: 11px;
	background: transparent url(/images/coach/stp/round_top_right.jpg) no-repeat scroll right 0px;
}

.stp_pic_container {
	text-align: center;
	padding-top: 30px;
}

.stp_pic {
	float: left;
	margin: 15px;
	width: 180px;
	height: 180px;
}

