body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 90%;
	line-height: 150%;

	margin: 0px;
	padding: 0px;
}

a {
	color: #3B5998;
}


.root_container {
	margin: 0px auto;
	width: 800px;
	font-size: 12px;
}

.bottom {
	margin-top: 50px;
	padding-top: 10px;
	border-top: 5px solid #CC0000;
	text-align: center;
	color: #808080;
	font-size: 12px;
}
.bottom #beianhao {
	margin-left: 5px;
	color: #808080;
	text-decoration: none;
}
.bottom #beianhao:hover {
	text-decoration: underline;
}


.top {
	margin-top: 10px;
}


.top_menu {
	margin-top: 10px;
	background-color: #CC0000;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
}
.top_menu a {
	margin: 3px 10px 0px;
	padding: 4px 0px 5px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	width: 80px;
}
.top_menu a:hover {
	color: #CC0000;
	background-color: #FFFFFF;
}
.top_menu table {
	margin: 0px auto;
}


.top_post {
	text-align: center;
	margin-top: 10px;
}


.breadcrumb {
	padding: 10px 3px 15px;
	color: #666666;
	word-spacing: 5px;
}
.breadcrumb a {
	color: #666666;
	text-decoration: none;
}
.breadcrumb a:hover {
	color: #CC0000;
}


.slide_title {
	padding: 10px 0px 30px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}


.slide_content {
	font-size: 14px;
}
.slide_content p {
	text-indent: 28px;
}


.left_menus {
	width: 200px;
}
.left_menus a {
	display: block;
	text-decoration: none;
	color: #000000;
	background-color: #EAEAEA;
	border: 1px solid #EEEEEE;
	margin-top: 5px;
	padding: 6px 10px 5px;
}
.left_menus a:hover {
	background-color: #F8F8F8;
	color: #CC0000;
}
.left_menus a.selected {
	color: #FFFFFF;
	background-color: #CC0000;
}


.case_content {
	padding: 5px;
	font-size: 14px;
}
.case_content img.right {
	float: right;
	margin-left: 30px;
}
.case_content ul {
	margin: 0px;
	padding-left: 40px;
}
.case_content li {
	list-style-type: disc;
	margin: 10px 0px;
}


.trainee_feedback {

}
.trainee_feedback td {
	vertical-align: top;
	padding: 5px 2px;
}


.expo_case {
	margin-left: 20px;
}
.expo_case ul {
	margin: 0px;
	padding-left: 10px;
	width: 90%;
}
.expo_case td {
	vertical-align: top;
}


.recent_grid {
	width: 100%;
}
.recent_grid td, .recent_grid th {
	text-align: center;
	padding: 2px;
}
.recent_grid th {
	font-weight: bold;
}
.recent_grid td.grey, .recent_grid th.grey {
	background-color: #EAEAEA;
}


.highlight {
	color: #CC0000;
	font-weight: bold;
}


.product_grid {
	width: 100%;
	border-collapse: collapse;
}
.product_grid td {
	border: 1px solid #FFFFFF;
	background-color: #D8E0EB;
}
.product_grid td.grey {
	background-color: #EDF1F6;
}
.product_grid th {
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px 1px 3px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #5D96C5;
}
.product_grid td, .product_grid th {
	padding: 5px 8px 4px;
}


img.featured_label {
	margin: 0px 10px -7px 0px;
}


.featured_title {
	background-color: #EAEAEA;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 10px 4px;
}

.featured_content {
	border: 1px dashed #EAEAEA;
	font-size: 14px;
	padding: 6px 10px 4px 0px;
	margin-bottom: 3px;
}
.featured_content ul {
	margin: 0px;
	padding-left: 40px;
}
.featured_content li {
	list-style-type: disc;
	margin: 3px 0px;
}
