<div>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<img src="/images/real_index/qiaobutang_logo.png" />
			</td>
			
			<td style="width: 20px;">
				&nbsp;
			</td>
			
			<td valign="bottom">
				<h2>乔布堂 友情提醒</h2>
			</td>
		</tr>
	</table>
</div>

<div style="background-color: #FCF9E6; border: 1px solid #F0F0E0; margin-top: 5px;">
	<table cellpadding="5" cellspacing="10">
		<tr>
			<td valign="top" style="padding-top: 20px;">
				<img src="/images/uncategoried/info_warning_middle.gif" border="0" />
			</td>
			
			<td>
				<div>
					<p style="font-size: 14px; font-weight: bold;">
						你正在使用已过时的浏览器
						<span style="font-size: 18px;">
							Internet Explorer 6
						</span>
						(IE6)
						浏览本站.
					</p>
					
					<p style="font-weight: bold;">
						如果使用 IE6 浏览, 则可能造成网页的
						<span style="font-size: 18px;">断层</span>,
						<span style="font-size: 18px;">爆裂</span>
						或
						<span style="font-size: 18px;">下沉</span>,
						实属不可抗拒导致.
					</p>
					
					<p>
						乔布堂 特此友情提醒,
						<b>升级到乔布堂支持的浏览器:</b>
					</p>
					<div>
						<a href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx" target="_blank">
							<img src="/images/uncategoried/ie7_download.jpg" border="0" style="float: left; margin: 0px 10px;" /></a>
							
						<a href="http://www.mozilla.com/firefox" target="_blank">
							<img src="/images/uncategoried/firefox_download.jpg" border="0" style="float: left; margin: 0px 10px;" /></a>
						
						<a href="http://www.apple.com/safari" target="_blank">
							<img src="/images/uncategoried/safari_download.jpg" border="0" style="float: left; margin: 0px 10px;" /></a>
					</div>
					<div style="clear: left"></div>
					
					<p>
						---------- 如果不愿升级的分割线 ----------
					</p>
					<p>
						<a href="/index/confirm_using_ie6" style="font-size: 16px; font-weight: bold;">
							我是一个勇敢的人, 我意志坚定, 承受力强, 我要继续浏览</a>
					</p>
				</div>
			</td>
		</tr>
	</table>
</div>


