<% page_title = "周三访谈录" %>
<% community_page_title(page_title) %>

<div class="float_r talk_container_r">
	
	<div class="community_block align_c">
		<img src="/images/talks/qiaobutang_talk_logo.png" border="0" />
	</div>
	
	<% if @new_comments.size > 0 %>
		<div class="community_title">
			最近评论 ...
		</div>
		
		<div class="community_block">
			<%= render(:partial => "small_comment", :collection => @new_comments) %>
		</div>
	<% end %>
	
</div>

<div class="talk_container_l">
	<a class="float_r" href="#">
		<img src="/images/feed_icon.gif" border="0" alt="订阅 周三访谈录" title="订阅 周三访谈录" /></a>
	
	<h2><%= page_title %></h2>
	
	
	<% if talk_editor?(session[:account_id]) %>
		<div class="align_r">
			<a href="/talks/new">
				添加新的访谈录</a>
				
			&nbsp;&nbsp;
			|
			&nbsp;&nbsp;
			
			<a href="/talks/talker_index">
				管理受访人</a>
		</div>
	<% end %>

	<div class="community_block">
		<%= render(:partial => "talk", :collection => @talks) %>
	</div>
	
	<div class="community_block">
		<%= paging_buttons(@talks) %>
	</div>
</div>

