<% talk_title = h(@talk.get_title) %>

<% page_title = "管理访谈录 #{talk_title}" %>
<% community_page_title(page_title) %>

<div class="float_r talk_container_r">
	
	<div class="community_block align_c">
		<img src="/images/talks/qiaobutang_talk_logo.png" border="0" />
	</div>
	
</div>

<div class="talk_container_l">
	<h2><%= page_title %></h2>
	
	
	<div class="community_block">
		
	</div>
</div>

