<%
	account = friend_selector.friend
	account_id = account.id
	account_nick = account.get_nick
	account_pic_url = account.get_profile_pic_url
	
	Account.set_account_nick_pic_cache(account_id, account_nick, account_pic_url, account.email)
%>

<div class="friend_nick_pic">
	<div>
		<a href="/groups/list/<%= account_id %>">
			<img src="<%= face_img_src(account_pic_url) %>" border="0" /></a>
	</div>
	<div>
		<a href="/groups/list/<%= account_id %>" class="account_nick_link">
			<%= h(account_nick) %></a>
	</div>	
</div>