<div>
	<a href="/">
		乔布堂</a>
	»
	<a href="/methodology">
		乔布哲学</a>
</div>

<div class="coach_block">
	<img src="/images/methodology/methodology_index_post.jpg" />
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					生活在社会中的问题之一就是在必要的情境下, 你必须做出选择. 可是, 在面对职业选择问题时, 你真的能自由地选择自己的职业吗? 究竟是你选择了职业, 还是职业选择了你?
				</p>
				
				<p>
					一种观点认为是"个人选择了职业". 职业决策的理性系统论认为, 你能用逻辑与理性来决定自己的生活. 你收集尽可能多的关于自己及自己感兴趣的工作信息, 知识, 而后综合分析, 从而选择一个职业.
				</p>
				
				<p>
					另一种观点则认为是"职业选择了个人". 选择职业时你并不像自己以为的那样自由. 你会受到不可控外力的影响. 这可以称为社会文化决定论. 它强调你无法控制的社会文化环境, 这包括家庭背景, 父母收入水平, 父母的职业和教育水平, 你生长的环境, 你的种族, 性别, 年龄, 等等. 根据这种理论, 你所做的工作是由上述这些因素决定的. 与其说是你选择了工作, 不如说是工作选择了你.
				</p>
				
				<p>
					职业选择的第三种观点是偶然论. 世界如此复杂, 何必强求对它的理解. 随遇而安的生活或许更好. 有时, 生活恰恰验证了偶然论的观点.
				</p>
				
				<p>
					下面让我们来了解一下在这些观点的支持下, 研究者们对于人们职业选择和职业发展所提出的不同的理论主张, 或许对你的职业生涯规划有所启发.
				</p>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#" style="float: right;">回页首</a>
				1. <a name="s1">特性-因素理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					
				</p>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#" style="float: right;">回页首</a>
				2. <a name="s2">Holland 的职业类型理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#" style="float: right;">回页首</a>
				3. <a name="s3">Roe 的职业选择理论和心理动力理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#" style="float: right;">回页首</a>
				4. <a name="s4">社会学习理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#" style="float: right;">回页首</a>
				5. <a name="s5">职业发展的认知理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#" style="float: right;">回页首</a>
				6. <a name="s6">个体构念理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#" style="float: right;">回页首</a>
				7. <a name="s7">完整生活计划</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#" style="float: right;">回页首</a>
				8. <a name="s8">职业决策理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#" style="float: right;">回页首</a>
				9. <a name="s9">偶然论的选择理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#" style="float: right;">回页首</a>
				10. <a name="s10">社会学理论和经济学理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#" style="float: right;">回页首</a>
				11. <a name="s11">整合理论--综合论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				
			</div>
		</div>
	<% end %>
</div>


