<div>
	<a href="/">
		乔布堂</a>
	»
	<a href="/methodology">
		乔布哲学</a>
</div>

<div class="coach_block align_c">
	<img src="/images/methodology/methodology_index_post.jpg" />
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					生活在社会中的问题之一就是在必要的情境下, 你必须做出选择. 可是, 在面对职业选择问题时, 你真的能自由地选择自己的职业吗? 究竟是你选择了职业, 还是职业选择了你?
				</p>
				
				<p>
					一种观点认为是"个人选择了职业". 职业决策的理性系统论认为, 你能用逻辑与理性来决定自己的生活. 你收集尽可能多的关于自己及自己感兴趣的工作信息, 知识, 而后综合分析, 从而选择一个职业.
				</p>
				
				<p>
					另一种观点则认为是"职业选择了个人". 选择职业时你并不像自己以为的那样自由. 你会受到不可控外力的影响. 这可以称为社会文化决定论. 它强调你无法控制的社会文化环境, 这包括家庭背景, 父母收入水平, 父母的职业和教育水平, 你生长的环境, 你的种族, 性别, 年龄, 等等. 根据这种理论, 你所做的工作是由上述这些因素决定的. 与其说是你选择了工作, 不如说是工作选择了你.
				</p>
				
				<p>
					职业选择的第三种观点是偶然论. 世界如此复杂, 何必强求对它的理解. 随遇而安的生活或许更好. 有时, 生活恰恰验证了偶然论的观点.
				</p>
				
				<p>
					下面让我们来了解一下在这些观点的支持下, 研究者们对于人们职业选择和职业发展所提出的不同的理论主张, 或许对你的职业生涯规划有所启发.
				</p>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#top" style="float: right;">回页首</a>
				1. <a name="s1">特性-因素理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					特性-因素理论是一种最为古老而且流行得最广泛的职业指导理论. 它的创立者是被誉为"职业指导之父"的美国职业指导专家弗兰克.帕森斯(F.Parsons), 后来又由威廉逊.佩特森(E.G.Williamson)发展成型. 其最基本的观点是:"人-职匹配".
				</p>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#top" style="float: right;">回页首</a>
				2. <a name="s2">Holland 的职业类型理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					约翰.霍兰德(John Holland)假设人的职业选择是其人格的反映. "职业选择反映了人的动机, 知识, 人格和能力. 职业代表一种生活方式, 生活环境, 而不仅仅是一些工作职能和技巧. 做一个木匠不只意味着使用工具, 也意味着特定的地位, 社会角色和生活模式."
				</p>
				<p>
					职业类型理论是20世纪50年代兴起的, 它强调人的整体性和工作环境的整体性, 注重个人的人格类型同工作环境的一致性.
				</p>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#top" style="float: right;">回页首</a>
				3. <a name="s3">Roe 的职业选择理论和心理动力理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					临床心理学家安娜.罗(Anne Roe)认为儿时的养育经历与职业选择有很大关系. 想想你所成长的家庭氛围, 是"温暖的"还是"冷漠的"? 你如何描述你的父母? 他们对你是关注还是忽视? 是接纳还是拒绝? 根据罗的理论, 你对这些问题的回答对选择什么样的职业会产生影响.
				</p>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#top" style="float: right;">回页首</a>
				4. <a name="s4">社会学习理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					社会学习理论与强调刺激-反应的行为主义相联系, 这对许多人来说, 意味着增强了外界环境的控制和威胁, 减弱了个人自由. 不过, 尽管这个理论的确提出了必须承认自由具有某些限制, 但它也强调了人类行为同时受到个人和环境的控制, 大多数行为主义方法都提倡自我管理.
				</p>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#top" style="float: right;">回页首</a>
				5. <a name="s5">职业发展的认知理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					认知指的是你思考和加工信息的方式. 认知信息加工(CIP)理论建立的思想基础是: 在问题解决和决策的过程中, 你的大脑对信息进行输入, 编码, 储存和使用. 如同你对数学问题或科学问题的解答一样. 职业决策是一种问题解决活动. 认知信息加工理论关注的是如何决策. 你的职业生活质量是以你怎么进行职业决策和解决职业问题为基础的, 你可以通过改进你的认知信息加工技能来提高这方面的能力.
				</p>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#top" style="float: right;">回页首</a>
				6. <a name="s6">个体构念理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					人类总是不断地通过实践检验自己对世界的想法的, 并不断提出一些发现, 使我们对自己生活的世界得出结论并建构概念(理论). 从而, 在生命的早期, 我们观察世界, 尝试通过创建构念来理解世界. 构念由事件, 他人和环境所组织和建构, 是我们认为有效地用以检验思想和行为的假设或猜想.
				</p>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#top" style="float: right;">回页首</a>
				7. <a name="s7">完整生活计划</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					完整生活计划(ILP)是一个全面的生活规划模型, 它远远不止于选择一个职业或理清职业与其他生活角色的关系, 也不仅仅是把工作看成是生活的一部分. 职业生涯规划的实施主要急中在教育和选择自己满意的职业上. ILP 涵盖与职业生涯规划相关的多方面追求(最近闲暇计划被增加到其中):爱情, 学习, 劳动, 闲暇和公民身份等在生活中的作用; 身体, 心理和精神上的多个纬度; 家庭关系及人与开拓社会使命的联系.
				</p>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#top" style="float: right;">回页首</a>
				8. <a name="s8">职业决策理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					职业决策问题其实是在任何职业指导理论中都无法回避的一个基本问题. 所以, 职业决策的概念最早在帕森斯倡导的"人-职匹配"的职业指导的基本原则中就已经有所蕴涵, 在其后发展起来的特性-因素理论, 人格类型理论等职业指导理论, 又逐步充实了"理性推论, 合理结合"的内涵. 但在这些理论中都没有详细阐述和分析决策的具体过程和行为, 即理论推论和分析理性推论的具体过程. 直到20世纪60年代, 伽列特(H.Gelatt)和杰普森(D.Jeopsen)等人开始着重研究和阐述职业决策具体的过程与步骤, 技能与方法, 并强调职业决策意识与决策行为在人的职业成熟与发展的整个过程中的重要作用. 他们的这些研究后来逐渐发展成为一种相对独立的职业选择理论--职业决策论.
				</p>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#top" style="float: right;">回页首</a>
				9. <a name="s9">偶然论的选择理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					偶然论提倡者米勒(Miller)和福姆(Form)认为, 个人职业选择被偶发事件或某一个机遇所左右的可能性很大, 作为个人而言, 似乎是无法预测的. 例如, 毕业求职时, 正好遇到社会经济的不景气, 或是因种种原因突然陷入急需经济援助的境地等. 又如, 在某一地方能利用的教育训练机构或能就业的职业, 对某一个人来讲恰好条件相符, 于是被列入其职业选择的范围之中. 当然, 在个人无法制约的偶然性事件中, 也可能存在一定程度的预测性, 例如, 随着个人知识不断向深度与广度进展, 也许能在某种程度上预测经济动向.
				</p>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#top" style="float: right;">回页首</a>
				10. <a name="s10">社会学理论和经济学理论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					社会学理论和经济学理论是20世纪50年代兴起的. 该理论认为任何职业选择都不能不考虑当时的社会结构, 社会环境和社会经济状况, 因此他们运用社会学和经济学理论分析职业问题.
				</p>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<a href="#top" style="float: right;">回页首</a>
				11. <a name="s11">整合理论--综合论</a> »
			</div>

			<div class="index_container_l_section_content" style="text-indent: 25px;">
				<p>
					职业选择理论到20世纪60年代已经形成了多种派别. 各种理论之间既有许多分歧的地方, 又有许多共同之处, 有的理论则是相互补充的. 于是有人试图把各种理论中比较一致的观点归纳起来, 形成一种职业指导者的共识, 人们将其称为综合论.
				</p>
			</div>
		</div>
	<% end %>
</div>


