<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<td valign="top" style="width: 120px;">
			<label for="content">
				内容(<span style="color: red;">*</span>)
			</label>
		</td>
		
		<td>
			<textarea id="content" name="content" class="text_field" cols="50" rows="8"><%= h(@comment.content) %></textarea>
		</td>
	</tr>
	
	
	<tr>
		<td></td>
		<td>
			<div class="form_info_l">
				1000 字以内
			</div>
		</td>
	</tr>
	

	<tr>
		<td>

		</td>

		<td>
			<%= submit_tag submit_label, :class => "button", :disabled => @account_limited %>
		</td>
	</tr>
</table>
