<div class="community_title">
	聊天室中的成员 ...
</div>
<div id="online_list_container" style="display: none;">
	<div style="margin-top: 20px;">
		<img src="/images/loading_small.gif" />
		&nbsp;
		正在获取成员列表 ...
	</div>
	<div style="margin-left: 30px;">
		<a href="#" id="refresh_online_list_link">
			(重试)</a>
	</div>
</div>

