<div id="online_list" class="chat_online_list">
	<%
		juggernaut_show_clients_for_channels(channels).each do |client|
	%>
		<%= render :partial => "online_account", :locals => {:account_id => client["client_id"]} %>
	<% end %>
</div>

