<div class="community_block align_c" style="font-size: 15px;">
	<strong>
		<%= info[0] %>
	</strong>
	型
</div>


<div class="community_block" style="text-indent: 25px;">
	<%= info[1][0] %>
</div>


<div class="community_title">
	适合的职业 ...
</div>

<div class="community_block">
	<div class="community_block_narrow">
		<% info[1][1].each do |position| %>
			<div class="community_block">
				<strong><%= position %></strong>
			</div>
		<% end %>
	</div>
</div>

<div class="community_block align_r">
	<a href="/group/posts/500" target="_blank" title="更多类型分析">
		<img src="/images/career_tests/mbti_more_analysis_btn.png" border="0" alt="更多类型分析" /></a>
</div>

