<% category_name = h(@category.name) %>

<% page_title = "求职服务 - #{category_name}" %>
<% community_page_title(page_title) %>


<div class="blog_container">
	<div class="float_r" style="margin-right: 30px;">
		<span style="word-spacing: 30px;">
			<a href="/job_services/new" class="account_nick_link">
				添加新的求职服务</a>
				
			|
		</span>
		
		<span style="font-size: 14px;">
			<a href="/job_services">
				求职导航</a>
			»
			<a href="/job_services/category/<%= @category.id %>">
				<%= category_name %></a>
		</span>
	</div>
	
	<h2><%= page_title %></h2>
	

	
	<div class="community_block">
		<table cellpadding="10" cellspacing="0" border="0" class="main_part_w">
			<tbody>
				<%= render :partial => "service", :collection => @category_services %>
			</tbody>
		</table>
	</div>
	
</div>

