<% page_title = "求职导航" %>
<% community_page_title(page_title) %>

<div class="float_r">
	<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8", :style => "width: 300px;" do %>
		<div class="action_bar">
			<a href="/job_services/new">
				添加新的求职服务</a>
			<% if info_editor?(session[:account_id]) %>
				|
				<a href="/job_services/categories">
					管理求职服务的分类</a>
			<% end %>
		</div>
	<% end %>
</div>

<div class="blog_container">
	<h2><%= page_title %></h2>
	
	
	<div style="height: 10px;"></div>
	
	<div class="overflow_hidden">
		
		<style>
			.t {
				font-size: 0px;
				height: 1px;
				width: 4px;
			}
			
			.w {
				background: #FFFFFF none repeat scroll 0 0;
			}
			
			.o {
				font-size: 0px;
				height: 1px;
				width: 2px;
			}
			
			.p {
				font-size: 0px;
				height: 2px;
				width: 1px;
			}
			
			td.top_service_title {
				font-size: 14px;
				font-weight: bold;
				padding: 2px 3px 1px 6px;
			}
			
			table.top_service {
				background: #FFFFFF none repeat scroll 0 0;
				font-size: 14px;
			}
			
			.top_service_info {
				color: #666666;
				font-size: 12px;
				font-weight: normal;
				line-height: 140%;
			}
			
			table.top_service td {
				border-top: 1px solid #E8EEF7;
				line-height: 23px;
				padding-right: 3px;
				padding-top: 2px;
			}
			
			.top_service_ranking {
				color: #CBCBCB;
				font-weight: bold;
			}
			
			.top_services {
				background-color: #F7DB7B;
				width: 250px;
				margin: 10px;
			}
			
			.top_services a {
				color: #3366CC;
				text-decoration: none;
			}
			
			.top_services a:hover {
				text-decoration: underline;
			}
		</style>
		
		<%= render :partial => "top_services", :collection => @categories %>
		
	</div>
</div>


