<div>
	你的帐号目前处于未激活状态, 不能进行任何更新操作。
	
	<br />

	这有可能是因为你的注册 email 地址尚未得到验证, 你可以试试
	<a href="/accounts/send_register_confirmation">重新发送注册确认邮件</a>
	
	<br />
	
	或者是因为帐号状态还未更新, 你可以 <a href="/accounts/login_form">重新登录</a> 来更新你的帐号状态
</div>