<div class="add_target_item">
	<div class="add_target_item_title">
		<a href="#" onclick="select_item(<%= item.id %>); return false;">
			<%= h(item.name) %></a>
	</div>
	
	<div class="community_block_narrow form_info_s">
		<%= h(item.desc) %>
	</div>
</div>


