<div class="community_block_narrow add_job_target_order">
	<%
		orders = [
			"第一步:选择目标公司",
			"第二步:选择目标职位",
			"第三步:添加求职步骤"
		]
	%>
	
	<% orders.each_index do |i| %>
		<% order = orders[i] %>
	
		<% if i > 0 %>
			»
		<% end %>
		
		
		<% if current_order > i %>
			<span>
				<img src="/images/job_targets/finished_order.gif" border="0" /><%= (company_name && company_name != "") ? "目标公司:#{h(company_name)}" : order %>
			</span>
		<% elsif current_order < i %>
			<span>
				<img src="/images/job_targets/coming_order.gif" border="0" /><%= order %>
			</span>
		<% else %>
			<span class="current_add_job_target_order">
				<%= order %>
			</span>
		<% end %>
	
	<% end %>
	
</div>