<% owner_name = @edit ? "我" : h(@account_nick_pic[0]) %>

<% page_title = "#{owner_name} 的求职目标" %>
<% community_page_title(page_title) %>

<div class="float_r">
	<% if @edit %>
		<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8", :style => "width: 320px;" do %>
			<div class="action_bar">
				<a href="/job_targets/new">
					<img src="/images/job_targets/new_job_target_small.gif" border="0" style="margin-right: 5px;" />添加求职目标</a>
				
				<a href="/job_targets">
					<img src="/images/job_targets/determine_job_target_small.gif" border="0" style="margin-right: 5px;" />还没有目标?帮我确定目标</a>
			</div>
		<% end %>
	<% else %>
		<a href="/spaces/show/<%= @account_id %>">
			<img src="<%= face_img_src(@account_nick_pic[1]) %>" border="0" /></a>
	<% end %>
</div>
	
<div class="blog_container">
	<img class="float_l" style="margin: 0px 10px;" src="/images/job_targets/steward_small.png" border="0" alt="求职管家" />
	<h2><%= page_title %></h2>
	
	<br />
	<br />
	
	<div id="loading_container" class="community_block" style="padding-left: 50px;">
		<img src="/images/loading_small.gif" />
		&nbsp;
		正在加载 求职目标 ...
	</div>
	
	<div id="table_container" class="community_block" style="display: none;">
		
		<table id="job_targets_container" cellpadding="0" cellspacing="0" border="0" class="main_part_w">
			<thead>
				<tr>
					<th>公司</th>
					<th>职位</th>
					<th>添加日期</th>
					<th>步骤</th>
				</tr>
			</thead>
			
			<tbody>
				<%= render :partial => "target", :collection => @targets %>
			</tbody>
		</table>
		
	</div>
	
</div>


<link rel="stylesheet" href="/lib/ext/resources/css/ext-all.css" type="text/css" media="screen"></link>
<link rel="stylesheet" href="/lib/ext/resources/css/xtheme-gray.css" type="text/css" media="screen"></link>

<script language="JavaScript" type="text/javascript" src="/lib/ext/adapter/ext/ext-base.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/ext-all.js"></script>

<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/GridFilters.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/Filter.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/NumericFilter.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/StringFilter.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/DateFilter.js"></script>

<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/menu/RangeMenu.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/menu/EditableItem.js"></script>

<script language="JavaScript" type="text/javascript" src="/lib/ext/build/locale/ext-lang-zh_CN.js"></script>

<script language="JavaScript" type="text/javascript" src="/javascripts/job_target_table.js"></script>



<script language="JavaScript" type="text/javascript">

	Ext.onReady(
		function() {
			Ext.get("table_container").show(true);
			create_table_grid();
			
			Ext.get("loading_container").remove();
		}
	);

</script>


