<% page_title = "欢迎来到求职管家" %>
<% community_page_title(page_title) %>
	
<div class="float_r">
	<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8", :style => "width: 360px;" do %>
		<div class="action_bar">
			<a href="/job_targets/new">
				<img src="/images/job_targets/new_job_target_small.gif" border="0" style="margin-right: 5px;" />添加求职目标</a>
				
			|
			
			<a href="/recruitments">
				还没有目标?从招聘信息确定目标</a>
		</div>
	<% end %>
</div>

<div class="bookmark_container">
	<h2><%= page_title %></h2>
	
	<br />
	
	
	<div class="community_block">
		<table cellpadding="0" cellspacing="10" border="0">
			<tr>
				<td>
					<img src="/images/job_targets/storm_tips.jpg" border="0" alt="管家提示: 还没有求职目标吗?" title="管家提示: 还没有求职目标吗?" />
				</td>
				
				<td align="center" style="width: 80px;">
					<img src="/images/job_targets/right_arrow_hand.gif" border="0" />
				</td>
				
				<td>
					<a href="/job_targets/new" title="添加求职目标">
						<img src="/images/job_targets/new_job_target_btn.png" border="0" alt="添加求职目标" /></a>
				</td>
			</tr>
		</table>
	</div>
	
</div>


