<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_content">
				<a href="#jnj">强生</a>&nbsp;
				<a href="#pfizer">辉瑞制药公司</a>&nbsp;
				<a href="#msd">默沙东(默克)集团公司</a>&nbsp;
				<a href="#bi">勃林格殷格翰</a>&nbsp;
				<a href="#novartis">诺华制药公司</a>&nbsp;
				<a href="#lillychina">中国礼来公司</a>&nbsp;
				<a href="#astrazeneca">阿斯利康制药有限公司</a>&nbsp;
				<a href="#servier">施维雅国际公司</a>&nbsp;
				<a href="#hayao">哈药集团有限公司</a>&nbsp;
				<a href="#tongrentang">北京同仁堂股份有限公司</a>&nbsp;
				<a href="#dupont">杜邦中国</a>&nbsp;
				<a href="#3m">3m中国有限公司</a>&nbsp;
				<a href="#omron">欧姆龙(上海)有限公司</a>&nbsp;
				<a href="#gehealthcare">通用电气医疗系统</a>&nbsp;
				<a href="#francehcs">法国汉臣氏中国有限公司</a>&nbsp;
				<a href="#rhone-poulenc">罗纳－普朗克公司</a>&nbsp;
				<a href="#merck">德国默克集团公司</a>&nbsp;
				<a href="#akzonobel">阿克苏诺贝尔</a>&nbsp;
				<a href="#microport">微创医疗器械(上海)有限公司</a>&nbsp;
				<a href="#mednet">东软飞利浦医疗设备系统有限责任公司</a>&nbsp;
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.jnj.com.cn" target="_blank">http://www.jnj.com.cn</a>
					&nbsp;
				</span>
				<a name="jnj">强生</a> (世界500强 / 美国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				
				<div>
					• <b>西安杨森制药有限公司</b><br />
					性质： 中国最大的合资制药企业<br />
					办公地点： 北京市朝阳区(盈科中心 )(总部)<br />
					涉及领域： 生产和销售高质量的药品，产品主要涉及胃肠病、神经学、变态反应学、疼痛管理学和抗菌学等领域。
				</div>
				
				<%= draw_hor_line("300px", "1px") %>
				
				<div>
					• <b>上海强生制药有限公司</b><br />
					性质： 全球最大的非处方药生产销售公司<br />
					办公地点： 上海市新华路万宝国际商务中心<br />
					涉及领域： 非处方药品 （泰诺）
				</div>

				<%= draw_hor_line("300px", "1px") %>

				<div>
					• <b>强生(中国)医疗器材有限公司</b><br />
					办公地点： 总部设在上海，同时在北京、广州、武汉、南京、济南、杭州、重庆、成都、沈阳等城市均设有办事处<br />
					涉及领域： 除了心血管产品以外，公司还有周围血管及神经介入中所需的各类产品
				</div>

				<%= draw_hor_line("300px", "1px") %>

				<div>
					• <b>强生视力健商贸(上海)有限公司</b><br />
					办公地点： 上海<br />
					涉及领域： 系列高质量的隐形眼镜及框架眼镜
				</div>
			</div>
			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.pfizer.com.cn" target="_blank">http://www.pfizer.com.cn</a>
					&nbsp;
				</span>
				<a name="pfizer">辉瑞制药公司</a> (世界500强 / 美国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				
				性质： 外商独资<br />
				办公地点： 上海市南京西路1168号中信泰富广场36层<br />
				研发中心： 上海(总部)<br />
				工厂： 大连、苏州、无锡<br />
				涉及领域： 心血管、内分泌、中枢神经、关节炎、抗感染、泌尿男科、眼科和抗肿瘤等治疗领域
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.msdchina.com.cn" target="_blank">http://www.msdchina.com.cn</a>
					&nbsp;
				</span>
				<a name="msd">默沙东(默克)集团公司</a> (世界500强 / 美国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				
				性质： 外商独资/中外合资建厂<br />
				办公地点： 上海市静安区(中欣大厦)<br />
				涉及领域： 创新性的处方药及保健药两部分。处方药如：用于癌症、神经变异退化性疾病、心血管疾病及不孕症治疗药物
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.boehringer-ingelheim.com.cn" target="_blank">http://www.boehringer-ingelheim.com.cn</a>
					&nbsp;
				</span>
				<a name="bi">勃林格殷格翰</a> (家族企业 / 德国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				
				性质： 外商独资<br />
				办公地点： 上海市浦东新区浦东大道138号永华大厦22层<br />
				涉及领域： 人体用药，包括呼吸、心血管、中枢神经、抗艾滋病等重要领域；动物保健
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.novartis.com.cn" target="_blank">http://www.novartis.com.cn</a>
					&nbsp;
				</span>
				<a name="novartis">诺华制药公司</a> (世界500强 / 美国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				
				性质： 外商独资<br />
				办公地点： 徐汇区长乐路989号1807b-1808a室<br />
				涉及领域： 人体用药/动物保健，涉及心血管、内分泌、抗感染、肿瘤、移植免疫、风湿疼痛、骨代谢、眼科、中枢神经系统、皮科等10大领域拥有30多种国际一流的高科技专利产品
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.lillychina.com" target="_blank">http://www.lillychina.com</a>
					&nbsp;
				</span>
				<a name="lillychina">中国礼来公司</a> (世界500强 / 美国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				
				性质： 外商独资<br />
				办公地点： 上海市湖滨路222号 企业天地商业中心1号楼21楼<br />
				涉及领域： 抗生素、中枢神经、肿瘤、内分泌等
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.astrazeneca.com.cn" target="_blank">http://www.astrazeneca.com.cn</a>
					&nbsp;
				</span>
				<a name="astrazeneca">阿斯利康制药有限公司</a> (世界500强 / 英国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				
				办公地点： 上海市南京西路1168号中信泰富广场43楼<br />
				研发总部: 瑞典
				涉及领域： 消化、心血管、肿瘤、中枢神经、麻醉、呼吸和抗感染领域
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.servier.com.cn" target="_blank">http://www.servier.com.cn</a>
					&nbsp;
				</span>
				<a name="servier">施维雅国际公司</a> (法国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				
				性质： 外商独资<br />
				办公地点： 北京市朝阳区光华路5号院世纪财富中心2号楼20层<br />
				涉及领域： 糖尿病代谢紊乱，心血管疾病，脑血管、神经精神疾病，静脉疾病，肿瘤
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.hayao.com/home.asp" target="_blank">http://www.hayao.com/home.asp</a>
					&nbsp;
				</span>
				<a name="hayao">哈药集团有限公司</a> (世界500强 / 中国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				
				性质： 国有控股的中外合资企业<br />
				办公地点： 哈尔滨市(总部)<br />
				涉及领域： 涵盖抗生素、化学药物制剂、非处方药品及保健食品、中药、生物工程药品、动物疫苗及兽药、医药流通七大领域
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.tongrentang.com" target="_blank">http://www.tongrentang.com</a>
					&nbsp;
				</span>
				<a name="tongrentang">北京同仁堂股份有限公司</a> (中国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				
				性质： 中药行业著名的老字号<br />
				办公地点： 北京市经济技术开发区<br />
				涉及领域： 中医制药
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.dupont.com.cn" target="_blank">http://www.dupont.com.cn</a>
					&nbsp;
				</span>
				<a name="dupont">杜邦中国</a> 上海分公司 (世界500强 / 美国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				
				性质： 中外合资<br />
				办公地点： 上海浦东新区张江高科技园区 科苑路399号11号楼<br />
				涉及领域： 饮料业、营养滋补品和精加工肉制品业的添加成份
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.3m.com.cn" target="_blank">http://www.3m.com.cn</a>
					&nbsp;
				</span>
				<a name="3m">3m中国有限公司</a> (世界500强 / 美国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				
				性质： 外商独资<br />
				办公地点： 上海市兴义路8号万都大厦38层<br />
				涉及领域： 电生理产品，微生物测试片，医用背衬材料，环氧乙烷灭菌系统，伤口护理产品，消毒灭菌监测产品，齿科产品，个人护理产品等
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.omron.com.cn" target="_blank">http://www.omron.com.cn</a>
					&nbsp;
				</span>
				<a name="omron">欧姆龙(上海)有限公司</a> (中国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				
				性质： 中外合资<br />
				办公地点： 上海市浦东新区陆家嘴环路1233号汇亚大厦0302室<br />
				涉及领域： 健康医疗设备
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.gehealthcare.com/cnzh" target="_blank">http://www.gehealthcare.com/cnzh</a>
					&nbsp;
				</span>
				<a name="gehealthcare">通用电气医疗系统</a> (世界500强 / 美国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				性质： 通用下属子公司<br />
				办公地点： 上海市延安西路2200号 上海国际贸易中心2701室<br />
				涉及领域： 医学影像、信息技术、医疗诊断、患者监护、疾病研究、药物研发以及生物制药
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.francehcs.com.cn" target="_blank">http://www.francehcs.com.cn</a>
					&nbsp;
				</span>
				<a name="francehcs">法国汉臣氏中国有限公司</a> (法国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				性质： 外商独资<br />
				办公地点： 沈阳市铁西区建设东路57号爱都国际B座<br />
				涉及领域： 以食疗为主的儿童健康产品系列、儿童生物制品系列、儿童护肤制品系列、儿童智能开发玩具系列及儿童教育系列及孕妇系列
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.rhone-poulenc.com" target="_blank">http://www.rhone-poulenc.com</a>
					&nbsp;
				</span>
				<a name="rhone-poulenc">罗纳－普朗克公司</a> (世界500强 / 法国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				办公地点： 上海市卢湾区上海电力大楼６０４室<br />
				涉及领域： 呼吸疾病／过敏症、血栓／心脏病、防感染、肿瘤和血浆蛋白质领域
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.merck.com.cn" target="_blank">http://www.merck.com.cn</a>
					&nbsp;
				</span>
				<a name="merck">德国默克集团公司</a> (德国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				性质: 家族性医药化工企业<br />
				办公地点： 上海市南京西路1468号中欣大厦40楼<br />
				涉及领域： 创新性的处方药及保健药两部分。处方药如：用于癌症、神经变异退化性疾病、心血管疾病及不孕症治疗药物
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.akzonobel.cn" target="_blank">http://www.akzonobel.cn</a>
					&nbsp;
				</span>
				<a name="akzonobel">阿克苏诺贝尔</a> (世界500强 / 荷兰) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				办公地点： 上海南京西路1468号中欣大厦三楼<br />
				涉及领域： 涂料/化学品
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.microport.com.cn" target="_blank">http://www.microport.com.cn</a>
					&nbsp;
				</span>
				<a name="microport">微创医疗器械(上海)有限公司</a> (中国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				性质: 外商独资企业<br />
				办公地点： 上海市浦东新区张江高科技园区牛顿路501号<br />
				涉及领域： 冠脉药物支架系统、冠脉金属支架系统、颅内动脉支架系统、腹主动脉瘤和胸主动脉瘤等支撑型人造血管支架、球囊 （PTCA）扩张导管、导引导管及其相关附件、胰岛素泵、 射频消融电生理导管等医疗器械
			</div>			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://joanna.mednet.cn" target="_blank">http://joanna.mednet.cn</a>
					&nbsp;
				</span>
				<a name="mednet">东软飞利浦医疗设备系统有限责任公司</a> (中国) »
			</div>

			<div class="index_container_l_section_content" style="padding: 10px 1px;">
				<a href="#" style="float: right;">回页首</a>
				性质: 民企<br />
				办公地点： 东大软件园<br />
				涉及领域： 医学影像
			</div>			
		</div>
	<% end %>
</div>



