<div class="linked_photo_small">
	<a href="/<%= picture_type %>/pictures/<%= picture_small.id %>" title="<%= h(picture_small.title) %>" target="_blank">
		<img src="<%= picture_small.image.url(:thumb_80) %>" border="0" /></a>
</div>

