<div>
	<div class="add_goal_container">
		<a href="/goals/list_index" class="float_r">
			去我的目标</a>
			
		<% form_tag "/goals", :method => :post, :onsubmit => "if(document.getElementById('goal_name_input').value.replace(/(^\s*)|(\s*$)/g, '') == ''){ alert('请填写目标名称 ...'); return false; }" do %>
			<span style="font-size: 14px; font-weight: bold;">
				我想要:
			</span>
			
			<input type="text" name="goal_name" id="goal_name_input" class="text_field" style="font-size: 14px; width: 200px;" />
			
			<input type="submit" value="添加到我的目标" class="button" />
		<% end %>
	</div>
	
	<div class="goal_links_container">
		<div class="goal_links_title">
			<span class="float_r">
				<a href="/goals/all">
					全部的目标列表 »</a>
			</span>
			
			大家最近都想做什么 ...
		</div>
		
		<div class="goal_links">
			<% cache(Goal::FCKP_goal_links) do %>
			
				<%
					goals = Goal.find(
						:all,
						:limit => 50,
						:order => "id DESC"
					)
				%>
				
				<% goals.each do |goal| %>
				
					<%
						Goal.set_goal_cache(goal)
					%>
				
					<% goal_name = h(goal.name) %>
					<a title="<%= goal_name %>" href="/goals/<%= goal.id %>">
						<%= truncate(goal_name) %></a>
				<% end %>
				
			<% end %>
		</div>
	</div>
</div>


