<div>
	<div class="add_goal_container">
		<a href="#" class="float_r">
			去我的目标</a>
			
		<% form_tag "#", :method => :get do %>
			<span style="font-size: 14px; font-weight: bold;">
				我想要:
			</span>
			
			<input type="text" name="goal_title" id="goal_title" class="text_field" style="font-size: 14px; width: 200px;" />
			
			<input type="submit" value="添加到我的目标" class="button" />
		<% end %>
	</div>
	
	<div class="goal_links_container">
		<div class="goal_links_title">
			<span class="float_r">
				<a href="#">
					全部的目标列表 »</a>
			</span>
			
			大家最近都想做什么 ...
		</div>
		
		<div class="goal_links">
			<% 30.times do |i| %>
				<a title="Have my own pottery studio" href="#">
					拥有自己的工作室</a>
			<% end %>
		</div>
		
	</div>
</div>


