<% all &&= true %>

<div>
	sony     ST意法     sybase     Symantec     synopsys     trident     trilogy     三星     上汽集团     世界五百强     中信银行     中
</div>

<% if all %>
<div>
	sony     ST意法     sybase     Symantec     synopsys     trident     trilogy     三星     上汽集团     世界五百强     中信银行     中
</div>
<% end %>


