<div class="community_block">
	<div class="recruitment_nav" style="word-spacing: 15px;">
		<img src="/images/recruitments/nav_icon.gif" border="0" />
		<a href="/exps" class="account_nick_link">
			面经首页</a>
		|
		<a href="#" class="account_nick_link">
			热门公司面经导航</a>
		|	
		<a href="/exps/tag" class="account_nick_link">
			面经标签</a>
		|	
		<a href="/exps/search" class="account_nick_link">
			搜索面经</a>
	</div>
</div>


<div class="community_block">
	<div class="float_r">
		<script type="text/javascript"><!--
		google_ad_client = "pub-3439613867319084";
		/* 468x60 */
		google_ad_slot = "0991456068";
		google_ad_width = 468;
		google_ad_height = 60;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
	
	<div>
		<% form_tag "/exps/search", :method => :get do %>
			<input type="text" name="query" class="text_field" style="width: 200px;" />
			
			<input type="submit" value="搜索面经" class="button" />
		<% end %>
	</div>
	
	<div style="margin-top: 10px; word-spacing: 10px;">
		<a href="/recruitments" target="_blank">
			找招聘信息</a>
		
		<a href="/talks" target="_blank">
			找职业访谈录</a>
		
		<!--
		<a href="#" target="_blank">
			管理求职目标</a>
			
		<a href="#" target="_blank">
			求职网址导航</a>
		-->
	</div>
</div>


