<% hide_search &&= true %>

<div class="community_block">
	<div class="recruitment_nav" style="word-spacing: 15px;">
		<img src="/images/recruitments/nav_icon.gif" border="0" />
		<a href="/exps" class="account_nick_link">
			面经首页</a>
		|
		<a href="/exps/company" class="account_nick_link">
			公司面经导航</a>
		|	
		<a href="/exps/search" class="account_nick_link">
			搜索面经</a>
		|	
		<a href="/exps/new" class="account_nick_link">
			我要添加面经</a>
		<% if info_editor?(session[:account_id]) %>
			|	
			<a href="/exps/zz" class="account_nick_link">
				转载面经</a>
		<% end %>
	</div>
</div>


<% unless hide_search %>
	<div class="community_block align_c">
		<% form_tag "/exps/search", :method => :get do %>
			<input type="text" name="query" class="text_field exp_search_input" value="" />
			&nbsp;
			<input type="submit" value="搜索面经" class="button" />
			
			<span style="margin-left: 15px; word-spacing: 10px;">
				<a href="/job_targets" target="_blank">
					管理求职目标</a>

				<a href="/companies" target="_blank">
					去公司讨论区</a>
			</span>
		<% end %>
	</div>
<% end %>


