<%
	account_id = friend_selector
	account_nick_pic = Account.get_nick_and_pic(account_id)
	account_nick = account_nick_pic[0]
	account_pic_url = account_nick_pic[1]
%>

<div class="friend_nick_pic">
	<div>
		<a href="/activities/recent/<%= account_id %>">
			<img src="<%= face_img_src(account_pic_url) %>" border="0" /></a>
	</div>
	<div>
		<a href="/activities/recent/<%= account_id %>" class="account_nick_link">
			<%= h(account_nick) %></a>
	</div>	
</div>