<div class="community_block align_c" style="font-size: 15px;">
	第
	<strong>
		<%= info[0] %>
	</strong>
	型
	&nbsp;&nbsp;&nbsp;
	<strong>
		<%= info[1] %>
	</strong>
</div>


<%= render :partial => "/career_tests/results/enneagram/type#{info[0]}" %>

