<div class="community_block">
	<p>
		第二型人格是九型人格中的一型性格，名为助人型，又称为协助者。 第二型是九型人格当中唯一其侧翼和升降人格都不是思考主导人格类型的人格。健康的第二型是感情投入的、体恤的、并对别人充满情感。总是能将心比心，照顾关怀他人的需要。他们诚恳、热心、有鉴赏力、并且鼓励他人。对他们而言，服务是非常重要的；他们非常大方，总是给予和帮助他人，充满爱与体贴，给人们所需要的，即使溢出他们的常规也照做不误。最佳状况：变得极为公正无私，不为自己着想，总是为他人着想，给予他人无条件的爱并且不求回报，觉得参与别人的生活是一种荣幸，是“圣洁的”、慈悲为怀的、谦虚的、并富有同情心的人。
	</p>
</div>


<div class="community_title">
	外表与气质 ...
</div>
<div class="community_block">
	<p>
		笑容满脸，热情可爱，天真烂漫，永远有一张长不大的孩子脸，富有诱惑性，可随时变换成你喜爱的模样出现，认真奉献。
	</p>
</div>


<div class="community_title">
	 说话方式 ...
</div>
<div class="community_block">
	<ul>
		<li>
			“噢！要你等待，真对不起。”
		</li>
		
		<li>
			“请来坐在这里，这里舒服一点！”
		</li>
		
		<li>
			“你真有心，专程来看我！”
		</li>
	</ul>
</div>


<div class="community_title">
	健康之发展程度 ...
</div>
<div class="community_block">
	<div style="font-weight: bold;">
		健康的特点：
	</div>
	<ul>
		<li>
			公正无私、情感的投入、宽大
		</li>
		
		<li>
			能体恤别人，替人设想，同情别人处境
		</li>
		
		<li>
			对人热情，容易亲近，是个受大众欢迎的人
		</li>
		
		<li>
			如德兰修女般热心助人
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		一般的特点：
	</div>
	<ul>
		<li>
			谄媚、占有、自我牺牲
		</li>
		
		<li>
			渴望被人需要，常常过分热心
		</li>
		
		<li>
			占有欲强，很想完全拥有对方
		</li>
		
		<li>
			妒忌心重，伴侣望着异性也不高兴
		</li>
		
		<li>
			觉得自己不可缺少
		</li>
		
		<li>
			渴望回报，当付出后，渴望别人回报
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		不健康的特点：
	</div>
	<ul>
		<li>
			操纵、强制、感觉被牺牲
		</li>
		
		<li>
			自以为是，总以为自己对，别人错
		</li>
		
		<li>
			抱怨连连，常因为自己所做的事得不到别人认同而埋怨，批评
		</li>
		
		<li>
			横蛮无理，自大，任性，将自己主意强加到他人身上
		</li>
		
		<li>
			严重者以性来讨好他人
		</li>
	</ul>
</div>


<div class="community_title">
	为人建议 ...
</div>
<div class="community_block">
	<ul>
		<li>
			小心侵占了别人的私人空间﹐有时候别人未必想要你的帮忙﹐不要把别人的问题都放在自己身上﹐要知道自己的责任范围止于哪里。
		</li>
		
		<li>
			为了工作﹐花太多时间建立人际关系﹐不免忽略了工作本身。
		</li>
		
		<li>
			不要刻意追求别人的赞赏﹐这样可能会弄巧反拙。
		</li>
		
		<li>
			学会爱己如人﹐不要一成不变的只付出。在某些情况下要先顾及自己的需要﹐因为没有人会比自己更重要。留些独处的时间给自己。
		</li>
	</ul>
</div>


<div class="community_title">
	与之相处 ...
</div>
<div class="community_block">
	<ul>
		<li>
			欣赏其爱心﹐真诚地感激他们﹐让其知道他们为你所做的一切对你有多重要。要明确表面感激他们为你做的某一些事﹐不要只是笼统地说多谢。
		</li>
		
		<li>
			欲要批评或拒绝﹐尽量婉转。
		</li>
		
		<li>
			不要尝试以他们方式对他们 (满足他们的需要)。太热情可能反而会使之不知所措﹐因为对人好正是其建立关系的工具。
		</li>
		
		<li>
			注重其感受﹐并提醒他们要分些时间关怀自己。
		</li>
	</ul>
</div>


<div class="community_title">
	著名人物 ...
</div>
<div class="community_block">
	<ul>
		<li>
			德兰修女
		</li>
		
		<li>
			沈殿霞
		</li>
		
		<li>
			埃莉诺·罗斯福
		</li>
		
		<li>
			雷锋
		</li>
	</ul>
</div>


