<div class="community_block">
	<p>
		第三型人格是九型人格中的一型性格，名为事业型、成就型、实践型。健康的第三型是有自信的，觉得自己很棒、享有高度自尊、相信自己和自己的价值观。他们是能适应的、精力充沛的，常常很吸引人的、有魅力并受欢迎。他们有强烈的企图心要让自己更好，尽可能的成为佼佼者，通常在某方面很杰出，令人钦佩，是人性的理想，具体呈现了许多令人羨慕的特质。别人希望像他们那样，效法他们的成就。他们是良好的沟通者、动机者、以及提倡者，知道如何将事情以大家可以接受和不得不接受的方式提出来。最佳状况：自我接受、以内在为导向、真实的、可信的、做什么都表里一致。接受自己的限制并担然处之。
	</p>
</div>


<div class="community_title">
	外表与气质 ...
</div>
<div class="community_block">
	<p>
		自信心强，讲究衣着和品味，外表有魅力，风趣，好玩，非常精灵、醒目，懂得用眼部交流，常成为众人目光焦点。
	</p>
	
	<p>
		不健康的第三型爱出风头，喜欢与人比较。为了要达到目标，常因身边的人而变换形象，因为对别人的期望有很强的觉察力，可以很快便改变肢体语言。
	</p>
</div>


<div class="community_title">
	 说话方式 ...
</div>
<div class="community_block">
	<ul>
		<li>
			“放心，让我去做。”
		</li>
		
		<li>
			“我会做得到！”
		</li>
		
		<li>
			“努力一些，成功在望了！”
		</li>
	</ul>
</div>


<div class="community_title">
	健康之发展程度 ...
</div>
<div class="community_block">
	<div style="font-weight: bold;">
		一般印象：
	</div>
	<ul>
		<li>
			可信的人
		</li>
		
		<li>
			有自信的人
		</li>
		
		<li>
			杰出的模范
		</li>
		
		<li>
			具竞争性的追求地位者
		</li>
		
		<li>
			重视形象的实用主义者
		</li>
		
		<li>
			自夸的自恋者 - 自恋式人格病态
		</li>
		
		<li>
			剥削别人的机会主义者
		</li>
		
		<li>
			恶意的背叛者 - 虐待式人格病态
		</li>
		
		<li>
			报复式的精神病患
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		健康的特点：
	</div>
	<ul>
		<li>
			内在导向、适应力、企图心
		</li>
		
		<li>
			有自信心
		</li>
		
		<li>
			精力充沛，能量高
		</li>
		
		<li>
			精明
		</li>
		
		<li>
			吸引力强，有神采
		</li>
		
		<li>
			成就出众
		</li>
		
		<li>
			有同理心，能与人建立好关系
		</li>
		
		<li>
			是个成功的领袖
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		一般的特点：
	</div>
	<ul>
		<li>
			竞争、形象投射、表现轻蔑
		</li>
		
		<li>
			好胜心强，常常想超越别人
		</li>
		
		<li>
			着重包装，唯因花太多时间包装，忽略内涵细节
		</li>
		
		<li>
			自命不凡，爱吹嘘自己，说得天花龙凤
		</li>
		
		<li>
			工于心计，因为第三型人格为了胜利可以不惜一切，放下自尊，成就自己
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		不健康的特点：
	</div>
	<ul>
		<li>
			机会主义、口是心非、报复
		</li>
		
		<li>
			爱利用别人，常觉得别人只是工具，不介意让人踩肩膊，亦爱踩人肩膊
		</li>
		
		<li>
			认为人与人之间只有利用，妒忌心重，常想赢别人
		</li>
		
		<li>
			会用尽不同方法手段保护自己形象，他的手下做好事，他会邀功，甚至炒了下属；若第三型人格不健康，很容易会背叛他人，他只要成就，道德感情都放在一边
		</li>
		
		<li>
			杀人如麻，很有倾向会进行谋杀或暗杀
		</li>
	</ul>
</div>


<div class="community_title">
	为人建议 ...
</div>
<div class="community_block">
	<ul>
		<li>
			不要太急功近利﹐这样反而会错失很多机会。要明白放长线﹐钓大鱼的道理。
		</li>
		
		<li>
			不要盲目地工作。有时要停下来﹐了解情况﹐这就是需要用第六型的脑袋的时候。
		</li>
		
		<li>
			学会坦诚。不正当得回来的胜利不是真正的胜利。
		</li>
		
		<li>
			要紧记人是有感情的动物﹐不要成为工作的奴隶。
		</li>
	</ul>
</div>


<div class="community_title">
	与之相处 ...
</div>
<div class="community_block">
	<ul>
		<li>
			赞扬并肯定其成就。
		</li>
		
		<li>
			给其意见﹐但不要直接批评或替之作主。
		</li>
		
		<li>
			切勿对其炫耀功绩﹐尽量使之发现你的优点。
		</li>
		
		<li>
			与之商量时﹐要着重行动和成果﹐其他的他们都不太有兴趣。
		</li>
		
		<li>
			如果想与之保持良好的关系﹐尽量避免直接与之竞争﹐可以的话选择合作。
		</li>
	</ul>
</div>


<div class="community_title">
	著名人物 ...
</div>
<div class="community_block">
	<ul>
		<li>
			猫王
		</li>
		
		<li>
			周润发
		</li>
		
		<li>
			成龙
		</li>
		
		<li>
			何守信
		</li>
		
		<li>
			陈慧琳
		</li>
		
		<li>
			何韵诗
		</li>
		
		<li>
			克林顿
		</li>
		
		<li>
			章小惠
		</li>
		
		<li>
			邓梓锋
		</li>
		
		<li>
			刘邦
		</li>
		
		<li>
			孔明
		</li>
		
		<li>
			赵匡胤
		</li>
		
		<li>
			袁世凯
		</li>
		
		<li>
			尼克逊
		</li>
		
		<li>
			史太林
		</li>
		
		<li>
			刘德华
		</li>
		
		<li>
			饭岛爱
		</li>
		
		<li>
			戴尔·卡内基
		</li>
		
		<li>
			爱迪生
		</li>
		
		<li>
			奥巴马
		</li>
		
		<li>
			陈水扁
		</li>
	</ul>
</div>


