<div class="community_block">
	<p>
		第六型人格是九型人格中的一型性格，名为忠诚者、寻找安全者、谨慎型。健康的第六型能引起他人强烈的情感回应，他们吸引人、让人心动、亲切可爱、友善、调皮、爱讨好人。信任对他们是很重要的，是与他人相处并诗续永久关系的基础。别人对他们很热情，并且想要帮助、保护他们。他们对认同的对象付出承诺和忠实，家人和朋友是重要的，这让他们觉得自己“属于”某个地方。他们藉著合作、可靠、负责、值得信赖、苦干来回应他人。最佳状况：变得自我肯定、相信自己、独立而又平等地相互依赖。对自我的信心使他们有积极的态度，显示出勇气、领导才能、丰富的创造力、以及自我表现能力。
	</p>
	
	<p>
		此人格是九型人格中较复杂的人格，可分为恐惧性六号(正六)和反恐惧性六号(反六)，正六会较为温纯、服从和可爱，反六则较为反叛、独裁和侵略性。其最大分别是面对恐惧和敌人的时候，正六多会选择逃避，反六多会克服自己的恐惧，自信地克服困难，和显得有侵略性这点可能与八号相似，但不同的地方是反六只会在面对困难时变得有侵略性，是出于反抗，八号则经常有侵略的行为，且非常主动。但无论正六还是反六，他们的行为都是出于内心的恐惧。
	</p>
</div>


<div class="community_title">
	外表与气质 ...
</div>
<div class="community_block">
	<p>
		他们多十分可爱，是九种性格中最具吸引力的，笑容动人，说话极具感染力。第六型的女性迷人，有小女孩的娇憨；男性有丰富的幽默感，有小男孩的精灵。
	</p>
	
	<p>
		不过不健康的第六型因为缺乏安全感，疑心颇大，不信任别人，处事缺乏弹性，也会讽刺人。
	</p>
</div>


<div class="community_title">
	 说话方式 ...
</div>
<div class="community_block">
	<ul>
		<li>
			“随你喜欢吧”
		</li>
		
		<li>
			“跟大家的决定吧！”
		</li>
		
		<li>
			“你说得对，可是…”
		</li>
	</ul>
</div>


<div class="community_title">
	健康之发展程度 ...
</div>
<div class="community_block">
	<div style="font-weight: bold;">
		健康的特点：
	</div>
	<ul>
		<li>
			自我肯定
		</li>
		
		<li>
			亲切可爱
		</li>
		
		<li>
			抱着人人平等的观念，不会欺压别人
		</li>
		
		<li>
			相信自己，也相信别人
		</li>
		
		<li>
			积极行动
		</li>
		
		<li>
			忠诚行动、值得信赖
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		一般的特点：
	</div>
	<ul>
		<li>
			顺从、逃逸
		</li>
		
		<li>
			害怕做决定
		</li>
		
		<li>
			依附权威
		</li>
		
		<li>
			优柔寡断
		</li>
		
		<li>
			顽强，反叛，表面附和，暗里却会批评别人的不是
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		不健康的特点：
	</div>
	<ul>
		<li>
			极度欠缺安全感
		</li>
		
		<li>
			自卑心重
		</li>
		
		<li>
			爱夸大问题
		</li>
		
		<li>
			极度焦虑不安
		</li>
	</ul>
</div>


<div class="community_title">
	著名人物 ...
</div>
<div class="community_block">
	<ul>
		<li>
			保罗·冯·兴登堡
		</li>
		
		<li>
			杨永强
		</li>
		
		<li>
			小布什
		</li>
		
		<li>
			笛卡儿
		</li>
		
		<li>
			周恩来
		</li>
	</ul>
</div>


