<div class="community_block">
	<p>
		第九型人格是九型人格中的性格，名为和平型、和谐型、维持和谐者、调停者。健康的第九型是非常善于接纳的、心胸开放、情感稳定、并且心平气和。他们接纳并相信自己和他人，态度轻松、从容的面对自己和生活。他们非常有耐心、温和、谦卑。他们内在有一颗纯真的心，是真正的好人，乐观、可靠、仁慈、支持别人。他们让人感到非常舒服，似乎有种稳定或治疗的力量。他们让团体和谐，使人群合聚。他们是很好的调停者、安慰者、以及支持者。他们高贵、安详、宁静，这来自于他们对自己的状况的接纳。最佳状况：冷静沈著，内心有极大的平静与满足。感觉自主而充实，既自在又与别人形成深厚的关系，因为他们已与自己融合在一起。这时候他们会更活泼、清醒，留心自己也留心别人。
	</p>
	
	<p>
		此人格与五号有点相似，同样是内向、保守、明智、做事拖拖拉拉，只想不做和充满好奇心，所以容易与五号混淆。要分别他们，是有方法的，五号有很高的集中力，但九号却三心两意，五号有不错的分析力，九号却分析力弱，五号很难与其他人走在一起，但九号能与大队走在一起，成为大队的一部分。
	</p>
	
	<p>
		九号人本身对自己理解不足，是忘我的代表，所以他们很容易误以为自己是其他人格。例如，很多九号的男性误以为自己是五号，女性以为自己是二号，尤其是初为人母的时候，如果他们的伴侣是四号，他们会以为自己是四号。他们本身好像没有性格，别人做什么，他们又做什么，认为朋友的想法就是自己的想法。
	</p>
</div>


<div class="community_title">
	外表与气质 ...
</div>
<div class="community_block">
	<p>
		和平，乐观豁达，优悠自在，朴实无华，不拘小节，节拍和说话都较慢。
	</p>
</div>


<div class="community_title">
	 说话方式 ...
</div>
<div class="community_block">
	<ul>
		<li>
			“随便，无所谓”
		</li>
		
		<li>
			“别在意，没关系的”
		</li>
		
		<li>
			“船到桥头自然直”
		</li>
		
		<li>
			“别放在心上”
		</li>
	</ul>
</div>


<div class="community_title">
	健康之发展程度 ...
</div>
<div class="community_block">
	<div style="font-weight: bold;">
		健康的特点：
	</div>
	<ul>
		<li>
			心胸开放
		</li>
		
		<li>
			心平气和
		</li>
		
		<li>
			泰然自若
		</li>
		
		<li>
			可爱，纯真如小孩般
		</li>
		
		<li>
			开心
		</li>
		
		<li>
			有耐性，愿意聆听
		</li>
		
		<li>
			有君子风范
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		一般的特点：
	</div>
	<ul>
		<li>
			过于服从
		</li>
		
		<li>
			倚靠别人决定
		</li>
		
		<li>
			懒惰耽误
		</li>
		
		<li>
			不爱做决定讲自己意见，因为害怕与人有冲突，最后很多都不做，阳奉阴违
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		不健康的特点：
	</div>
	<ul>
		<li>
			无用无助
		</li>
		
		<li>
			顽固
		</li>
		
		<li>
			无方向
		</li>
		
		<li>
			停滞不前，不做什么事
		</li>
		
		<li>
			麻木不仁
		</li>
		
		<li>
			危险
		</li>
		
		<li>
			自暴自弃
		</li>
		
		<li>
			没有性格
		</li>
		
		<li>
			严重者有机会出现人格解体
		</li>
	</ul>
</div>


<div class="community_title">
	著名人物 ...
</div>
<div class="community_block">
	<ul>
		<li>
			林肯
		</li>
		
		<li>
			华特.迪士尼
		</li>
		
		<li>
			马英九
		</li>
		
		<li>
			邱胜翊
		</li>
		
		<li>
			郑伊健
		</li>
		
		<li>
			甘地
		</li>
		
		<li>
			庄子
		</li>
	</ul>
</div>


