<div class="community_block">
	<p>
		第八型人格是九型人格中的性格，名为能力型、领袖型、保护者、权威型。坚持己见的、有自信的、坚强的。健康的第八型学会拥获自己的需要和希望。他们是“行动取向”的，带有“肯做”的态度和内在动力。他们乐于接受挑战，像是资源丰富的“自行发动器”，主动的让事情发生。他们是天生的领导者，受人尊敬，为大家做决定、指示方向：果断的、有权威性的、命令的。借由荣耀的行为、运用具建设性的力量、支持及保获人、做具有意义的事业的赞助者或宣传者等来赢得他人的尊敬。最佳状况：自制克己、宽宏大量、仁慈的、忍耐的、自主、带领他人、实现他人的需要。他们是勇敢的，肯冒险犯难以完成理想，可能是英雄或历史上伟大的人物。
	</p>
</div>


<div class="community_title">
	外表与气质 ...
</div>
<div class="community_block">
	<p>
		气宇不凡，有大将之风，具有霸气，有时粗豪卤莽，大情大义，有压迫感，目光坚定而有威严，声线嘹亮，不拘小节，昂首阔步，自视甚高，目中无人。
	</p>
</div>


<div class="community_title">
	 说话方式 ...
</div>
<div class="community_block">
	<ul>
		<li>
			“不好”
		</li>
		
		<li>
			“不要”
		</li>
	</ul>
</div>


<div class="community_title">
	健康之发展程度 ...
</div>
<div class="community_block">
	<div style="font-weight: bold;">
		健康的特点：
	</div>
	<ul>
		<li>
			自信心强
		</li>
		
		<li>
			行动为主
		</li>
		
		<li>
			天生领导者
		</li>
		
		<li>
			勇敢宽宏
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		一般的特点：
	</div>
	<ul>
		<li>
			只会保护自己
		</li>
		
		<li>
			主观，个人主义，不接受意见
		</li>
		
		<li>
			爱控制别人，控制环境
		</li>
		
		<li>
			自视过高
		</li>
		
		<li>
			害怕受伤害，常常装成有权势，有力量的人
		</li>
		
		<li>
			遇到压力时不懂得面对，只懂得推开
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		不健康的特点：
	</div>
	<ul>
		<li>
			暴力：如暴君一样
		</li>
		
		<li>
			无情
		</li>
		
		<li>
			独裁
		</li>
		
		<li>
			过度夸张
		</li>
		
		<li>
			有毁灭性
		</li>
	</ul>
</div>


<div class="community_title">
	著名人物 ...
</div>
<div class="community_block">
	<ul>
		<li>
			毛泽东
		</li>
		
		<li>
			徐步高
		</li>
		
		<li>
			李光耀
		</li>
		
		<li>
			秦始皇
		</li>
		
		<li>
			项羽
		</li>
		
		<li>
			梁国雄
		</li>
		
		<li>
			李小龙
		</li>
		
		<li>
			马丁·路德·金恩
		</li>
		
		<li>
			墨索里尼
		</li>
		
		<li>
			俾斯麦
		</li>

		<li>
			贝多芬
		</li>
		
		<li>
			尼采
		</li>
		
		<li>
			袁弥明
		</li>
	</ul>
</div>


