<div class="community_block">
	<p>
		第七型人格是九型人格中的性格，名为享乐者，又称为活跃型、通才者、火麒麟、创造可能者。 第七型是九型人格当中唯一其侧翼和升降人格都不是感情主导人格类型的人格。由于对他们的各种经验非常有反应、容易激动并且非常狂热，健康的第七型是典型外向的人，朝向事情与感觉的真实世界而行。他们有自发性，对每一个经验都很陶醉。他们对每一种刺激都有立即的反应，发现事事皆令人兴奋、鼓舞。他们是快乐、有朝气的、易兴奋的人，活泼而精力充沛。这种人是通才，能将许多不同的事做得好好的，多才多艺，如同文艺复兴时期的人，拥有名家的天赋和惊人的技巧。他们切实际、有生产力、丰富、具多种才能、将兴趣上的许多领域互相滋润。最佳状况：深刻的吸收各种经验，变得有欣赏力、懂得感激、并且对生活中的惊奇有敬畏之心；对生活有信心，欢乐而喜悦。他们感觉到一种超越肉体的生活，一种精神世界，也深深感觉到生命的美好。
	</p>
</div>


<div class="community_title">
	外表与气质 ...
</div>
<div class="community_block">
	<p>
		活力充沛，神采飞扬，笑容亲切，容易为大众所接受，他们精明、醒目善变而没有压迫感的做人态度十分讨好。他们外表通常比较光鲜、突出，男的仪表出众，气宇轩昂，女的精灵可爱，衣着配搭创新，加上活泼的外形和爽朗的个性，是群体中的目标人物。他们深谙双赢之道，虽然主意多，但却又能保持不夸张，没有压迫感的个性令人际关系保持和谐。
	</p>
</div>


<div class="community_title">
	 说话方式 ...
</div>
<div class="community_block">
	<ul>
		<li>
			“不好！”
		</li>
		
		<li>
			“好！”
		</li>
		
		<li>
			“很好玩呀！”
		</li>
		
		<li>
			“最重要的是开心！”
		</li>
		
		<li>
			“白痴！”(有时候)
		</li>
	</ul>
</div>


<div class="community_title">
	健康之发展程度 ...
</div>
<div class="community_block">
	<div style="font-weight: bold;">
		健康的特点：
	</div>
	<ul>
		<li>
			多才多艺
		</li>
		
		<li>
			转数高
		</li>
		
		<li>
			容易学会新事物
		</li>
		
		<li>
			容易解决问题
		</li>
		
		<li>
			外向，达观、感激
		</li>
		
		<li>
			自发性强
		</li>
		
		<li>
			充满动力、热心
		</li>
		
		<li>
			精力充沛，能量高企
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		一般的特点：
	</div>
	<ul>
		<li>
			沉迷欲望
		</li>
		
		<li>
			爱玩、无节制
		</li>
		
		<li>
			吃喝玩乐
		</li>
		
		<li>
			一心多用
		</li>
		
		<li>
			肤浅，予人识少少扮代表的感觉
		</li>
		
		<li>
			过度活跃
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		不健康的特点：
	</div>
	<ul>
		<li>
			会攻击，辱骂别人
		</li>
		
		<li>
			极端失控
		</li>
		
		<li>
			贪威识食
		</li>
		
		<li>
			做任何事都要去到尽，爱出风头，炫耀自己
		</li>
		
		<li>
			行事冲动，夸张，不切实际
		</li>
	</ul>
</div>


<div class="community_title">
	著名人物 ...
</div>
<div class="community_block">
	<ul>
		<li>
			蔡澜
		</li>
		
		<li>
			曾志伟
		</li>
		
		<li>
			韦小宝
		</li>
		
		<li>
			史提芬·史匹堡
		</li>
	</ul>
</div>


