<div class="community_block">
	<p>
		第五型人格是九型人格中的性格，名为观察者、智慧型、思想型、理性分析者、思考型。健康的第五型能够以超乎寻常的知觉力和洞察力去观察每一件事情，他们心智机敏、好奇心强、带有敏锐的智慧——一边运用非凡的知觉，一边提出正确的问题。这种人能够集中注意力，全神贯注于引起他们注意的事物上，并能预见一连串事件如何发展。他们喜爱学习，为拥有知识而兴奋，并且在某方面常常成为专家。他们是独立的思考者，创新而有发明能力，能创造出非常有价值和原创力的想法及观念。最佳状况：成为发现者，广泛而透彻的理解世界。他们有远见、思想开放、注重事情的整面、对事物的前后关联能做良好的连结、并能发现事情的真貌。他们可能是某些新事物的发现先驱，非常聪明，有可能是历史上重要的天才。
	</p>
	
	<p>
		这个人格可谓是内向的代表，第五型人多是着重自己的隐私，不擅于交往，在社交活动中经常抽离自己，从别人的角度来看，这些人总是感觉冷冰冰似的。他们很少公开谈及自己的事，变得有点城府深，别人根本就难以捉摸他们。尽管有部分的五号看似快乐、活跃，但都很少与其他人有深厚的来往，除非是最好的朋友。他们有时注意力非常集中，分析力、观察力强，乐于追求知识，不断以思考解决问题，但实际行动很少且经常放弃。工作上因犹疑不决而错失很多机会。他们很喜欢收集，为了日后的需要，但不愿与人分享。
	</p>
</div>


<div class="community_title">
	五号的特征 ...
</div>
<div class="community_block">
	<p>
		服饰特点： 中性色不显眼 样式普通简单 价格相当便宜
	</p>
	
	<p>
		身姿特点： 坐姿后倾翘腿，双手交叉，最少行动且笨拙 脸部木然，表情变化较少，笑纹在眼角 眼直直盯住，眼珠略突出，观察时转动头部
	</p>
	
	<p>
		言语特点： 爱倾听不爱说话，发言时表现深刻全面 语调平板没有感情，声音很小 词汇特点“我认为”，“分析是”，“我的立场是”，“我的意见”；对话中夹杂大量专业词汇
	</p>
</div>


<div class="community_title">
	外表与气质 ...
</div>
<div class="community_block">
	<p>
		外形通常是冷静，木讷，不拘言笑，不强于反应，喜怒不形于色，外表多数是瘦削，文静，深沉而有书卷气，衣着朴素。遇见陌生人表现得害羞，会伪装自己。有部分会表现得很快乐、活跃，但与其他五号一样，都很少与人有深厚的交往。
	</p>
</div>


<div class="community_title">
	 说话方式 ...
</div>
<div class="community_block">
	<ul>
		<li>
			句句精警、寡言，例如“嗯”、“哦”
		</li>
		
		<li>
			很难有即时反应
		</li>
	</ul>
</div>


<div class="community_title">
	健康之发展程度 ...
</div>
<div class="community_block">
	<div style="font-weight: bold;">
		健康的特点：
	</div>
	<ul>
		<li>
			观察力、分析力、好奇心强
		</li>
		
		<li>
			聪明机敏，是科学家，学者，博士人材
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		一般的特点：
	</div>
	<ul>
		<li>
			感情抽离
		</li>
		
		<li>
			十问九不应
		</li>
		
		<li>
			事事做旁观者，做分析，没法投入
		</li>
		
		<li>
			爱冷嘲热讽
		</li>
		
		<li>
			事事只跟从自己想法，很少顾及别人感受
		</li>
		
		<li>
			抗拒情感投入
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		不健康的特点：
	</div>
	<ul>
		<li>
			逃避，脱离人群
		</li>
		
		<li>
			充满敌意，憎恨世界，甚至觉得整个人类都邪恶麻烦的
		</li>
		
		<li>
			与现实脱节，不知许多事情为何会发生
		</li>
		
		<li>
			精神极度紧张
		</li>
		
		<li>
			有自杀的危机
		</li>
		
		<li>
			严重者会精神分裂
		</li>
	</ul>
</div>


<div class="community_title">
	著名人物 ...
</div>
<div class="community_block">
	<ul>
		<li>
			爱因斯坦
		</li>
		
		<li>
			汉娜·阿伦特
		</li>
		
		<li>
			冯两努
		</li>
	</ul>
</div>


