<div class="community_block">
	<p>
		第一型人格是九型人格中的性格，名为改革者、完美型、完美主义者、跟从原则者、改进型。健康的第一型非常正直，是非分明，并且有强烈的道德观。他们理性、讲道理、自律、稳健有节制。拥有高度的伦理道德感，对他们而言，真理与正义是最基本的价值观。诚实与正直使他们成为杰出的道德师表、众人的典范、以及真理的见证。他们极有原则，永远要求公正无私、客观公平，愿意为众人的利益提升自己。最佳状况：具有极高的智慧与辨别力，超人一等的判断力，不论在什么状况下，似乎总知什么是最好的(就道德上而言)。他们知道事情的轻重缓急、优先级，因此有一种超越的眼光。对别人宽大，给别人智慧的建议，并且有高远的理想和目标。
	</p>
</div>


<div class="community_title">
	外表与气质 ...
</div>
<div class="community_block">
	<p>
		整齐端正，腰板直，不苟且，目光如炬，严肃拘谨，有时麻木而无表情。自我要求高，喜欢批评自己与别人，细心，勤奋，刻苦耐劳，有毅力，讲求公平，公正，有抱负，有原则，尽忠职守。
	</p>
</div>


<div class="community_title">
	 说话方式 ...
</div>
<div class="community_block">
	<ul>
		<li>
			“这是应该的/不应该的！”
		</li>
		
		<li>
			“这是对的/不对的！”
		</li>
	</ul>
</div>


<div class="community_title">
	健康之发展程度 ...
</div>
<div class="community_block">
	<div style="font-weight: bold;">
		健康的特点：
	</div>
	<ul>
		<li>
			容忍、讲理、客观
		</li>
		
		<li>
			是非分明，理想崇高，愿意为社会进步而改革
		</li>
		
		<li>
			自律性高，决定当天要做的事，绝不会拖到第二天
		</li>
		
		<li>
			判断力高
		</li>
		
		<li>
			道德标准极高
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		一般的特点：
	</div>
	<ul>
		<li>
			理想主义、严格的逻辑性、完美主义者
		</li>
		
		<li>
			害怕犯错
		</li>
		
		<li>
			爱批评别人
		</li>
		
		<li>
			常想严格控制或改变别人
		</li>
		
		<li>
			做事非黑即白，没有中间地带
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		不健康的特点：
	</div>
	<ul>
		<li>
			不宽容、妄想、惩罚性
		</li>
		
		<li>
			自以为是，总以为自己对，别人错
		</li>
		
		<li>
			爱在鸡蛋里桃骨头
		</li>
		
		<li>
			伪君子，满口仁义道德，背地里却做不见得光的事
		</li>
		
		<li>
			心胸狭窄
		</li>
	</ul>
</div>


<div class="community_title">
	为人建议 ...
</div>
<div class="community_block">
	<ul>
		<li>
			要做一个典范﹐而不是批评家。
		</li>
		
		<li>
			不要太注重小节而忽略了整个处境。
		</li>
		
		<li>
			原谅自己﹐学会知足常乐﹐不要无止境地提高要求﹐折磨自己。
		</li>
		
		<li>
			鼓励别人批评和提出错误﹐因为你吹毛求疵的形象可能已把别人吓怕﹐做错事都不告诉你﹐这样对你百害而无一利。
		</li>
	</ul>
</div>


<div class="community_title">
	与之相处 ...
</div>
<div class="community_block">
	<ul>
		<li>
			谅解他们对你的批评﹐因为通常他们出于好意。称赞他们做事认真﹐可以的话主动分担一下他们的工作。
		</li>
		
		<li>
			切忌隐瞒事实真相﹔做错事要认真的道歉﹐并承担责任。如果是初犯﹐而是被他们发现你的错误的话, 他们通常都会原谅。如果错误是出自你的陋习或不专心﹐不认真的话﹐就麻烦得多了。
		</li>
		
		<li>
			第一型的人是特别重小节的。例如约会切忌迟到（可以的话最好早到﹐因为他们也会）。他们也很重礼节﹐“唔该”﹐“多谢”这些词语绝不可少。
		</li>
		
		<li>
			尽量避免直接否定他们﹐可以反过来问些启发他们思考的问题（例：如果…又会怎样？）﹐营造一个第七型的环境﹐他们会开放很多。
		</li>
	</ul>
</div>


<div class="community_title">
	著名人物 ...
</div>
<div class="community_block">
	<ul>
		<li>
			孔子
		</li>
		
		<li>
			孙中山
		</li>
		
		<li>
			郑裕玲
		</li>
		
		<li>
			华盛顿
		</li>
		
		<li>
			甘地
		</li>
		
		<li>
			李连杰
		</li>
		
		<li>
			柏拉图
		</li>
		
		<li>
			叶刘淑仪
		</li>
		
		<li>
			张忠谋
		</li>
	</ul>
</div>


