<div class="community_block">
	<p>
		第四型人格是九型人格中的一型性格，名为浪漫者，又称为艺术型、自我型、凭感觉者。健康的第四型是自我反省的、自觉的，不断“寻找自我”，和感觉与内在冲力有密切连系。对自己和对他人都很敏感、直觉；有同情心的、机智的、谨慎的、以及尊重别人的。他们会自我表现，很有个性，很个人主义。享受孤独，从容地让无意识的内在冲力上升到意识层面。他们会自我表露，容易感动、但情感很坚强。最佳状况：具有深奥的创造力，可以表达个人与众人的感受，可能以充满灵感的艺术作品来表现。在个人的层面上，他们具有革新与自我再生的能力，拥有自我创造、救赎的特质，能够自身经验转化成有价值的东西。
	</p>
	
	<p>
		有很多认为四号是内向的人格，其实不然，四号可以从最外向到最内向都有，外向的四号很容易结识朋友，内向的四号则像五号般充满神秘感。
	</p>
</div>


<div class="community_title">
	外表与气质 ...
</div>
<div class="community_block">
	<p>
		从衣着品味和外形上他们富有个人风格，有眼光而不落俗套，讲究配搭和款色，有艺术家的气质，有时会十分突出而令人震惊。他们通常会拥有一双柔情似水的眼神，目光永远是有所憧憬和凝视著远方，有所思忆似的，却又感性而迷人。 心情完全会影响他们的决定。
	</p>
</div>


<div class="community_title">
	 说话方式 ...
</div>
<div class="community_block">
	<ul>
		<li>
			“看心情吧！”
		</li>
		
		<li>
			“先给我一个理由！”
		</li>
		
		<li>
			“你好像没回答我这个问题哦！”
		</li>
	</ul>
</div>


<div class="community_title">
	健康之发展程度 ...
</div>
<div class="community_block">
	<div style="font-weight: bold;">
		健康的特点：
	</div>
	<ul>
		<li>
			自觉、个性强、敏感性、同情心
		</li>
		
		<li>
			创造力高，幻想力丰富
		</li>
		
		<li>
			对别人的感受很灵敏
		</li>
		
		<li>
			情感真挚，忠于自己的感受
		</li>
		
		<li>
			表现自我
		</li>
		
		<li>
			谨慎
		</li>
		
		<li>
			极佳的品味
		</li>
		
		<li>
			优雅
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		一般的特点：
	</div>
	<ul>
		<li>
			幻想、自觉过度、脱离
		</li>
		
		<li>
			容易质疑自己
		</li>
		
		<li>
			由于第四型人格过分自我的性格，许多时候自小已不获身边的人认同，常被人批评任性，无纪律等；因惯于遭人否定，自我价值不高，会不信任自己，同时又觉别人并不了解自己，这种累积的怨愤一旦爆发出来，便不可收拾，因此，第四型人格常有情绪化的表现
		</li>
		
		<li>
			感情脆弱
		</li>
		
		<li>
			第四型人格小孩很易哭，自觉不好时会躲在一角，想透过这种抽离吸引成人注意；若自小有习惯制造脆弱，长大后亦会自怜，放纵
		</li>
	</ul>
	
	<div style="font-weight: bold;">
		不健康的特点：
	</div>
	<ul>
		<li>
			自我抑制、自我折磨
		</li>
		
		<li>
			严重沮丧，心情极差
		</li>
		
		<li>
			自责，自卑，埋怨自己没有用，憎恨自己至绝望地步，有寻死念头，自觉已无生存价值，多数想自杀
		</li>
		
		<li>
			常有用药的习惯
		</li>
	</ul>
</div>


<div class="community_title">
	为人建议 ...
</div>
<div class="community_block">
	<ul>
		<li>
			不要受制于情绪。每当有情绪时﹐扪心自问是否在借这些情绪去逃避某些其他事情，例如工作，或者反省是否为了闹情绪而闹情绪。
		</li>
		
		<li>
			不要放弃。第四型的人很容易因为一时的情绪而放弃。给点恒心﹐坚持到底﹐会有所值。
		</li>
		
		<li>
			不要因为与其他人的看法不同﹐又或者没有自己的深度﹐就彻底地否定了他人的能力。
		</li>
		
		<li>
			不要把事事看得太个人化。
		</li>
	</ul>
</div>


<div class="community_title">
	与之相处 ...
</div>
<div class="community_block">
	<ul>
		<li>
			不要教其如何处理自己的情绪﹐尽量不要批判他们太悲观﹐小事化大等。这样只会使之更加收藏自己。
		</li>
		
		<li>
			他们诉苦时﹐通常只想其情绪被了解与接受。只要让他们发泄情绪﹐不用太急着给意见。
		</li>
		
		<li>
			鼓励他们把意念和构思讲出来﹐欣赏其深度。若有不明白﹐就坦诚地说出来﹐不可装明白敷衍过去。
		</li>
		
		<li>
			不要对他们投以怪异的眼光﹐尊重其独特的风格。
		</li>
	</ul>
</div>


<div class="community_title">
	著名人物 ...
</div>
<div class="community_block">
	<ul>
		<li>
			强尼·戴普
		</li>
		
		<li>
			科特·柯本
		</li>
		
		<li>
			鲍勃·迪伦
		</li>
		
		<li>
			弗吉尼亚·伍尔芙
		</li>
		
		<li>
			林黛玉
		</li>
		
		<li>
			索伦·奥贝·克尔凯郭尔
		</li>
		
		<li>
			约翰·济慈
		</li>
		
		<li>
			Sylvia Plath
		</li>
		
		<li>
			陈百强
		</li>
		
		<li>
			王菲
		</li>
	</ul>
</div>


