<% community_page_title(@page_title) %>

<div class="float_r">
	<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8", :style => "width: 150px;" do %>
		<div class="action_bar">
			<a href="/votes/new">+发起新的投票话题</a>
		</div>
	<% end %>
</div>

<div class="vote_container">
	<h2><%= @page_title %></h2>
	
	<div class="align_r">
		
	</div>
	
</div>


