<div id="bottom_bar">
	<a class="float_r" target="_blank" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20120423135518207">
		<img style="margin-top: -13px;" src="/images/real_index/gongshang.gif" border="0" alt="上海工商" /></a>
	
	<a class="float_r" href="/index">
		<img style="margin: 0 20px;" src="/images/real_index/qiaobutang_small_logo.png" border="0" alt="乔布堂" title="乔布堂" /></a>
	
	<div>
		Copyright © 2008－<%= Time.now.year %> qiaobutang.com. All rights reserved.
		<a href="http://www.miibeian.gov.cn" target="_blank" id="beianhao">
			沪ICP备08114117号</a>
	</div>
	<div>
		支持
		<a href="http://www.mozilla.com/firefox" target="_blank">Firefox</a>
		,
		<a href="http://www.apple.com/safari" target="_blank">Safari</a>
		,
		<a href="http://www.microsoft.com/windows/internet-explorer/ie7" target="_blank">IE <b>7</b></a>
	</div>
</div>


