<div id="bottom_bar">
	<a href="http://qiaobutang.com">
		<img class="float_r" style="margin-left: 20px;" src="/images/real_index/qiaobutang_small_logo.png" border="0" /></a>
	
	<div>
		Copyright © 2008 qiaobutang.com. All rights reserved.
	</div>
	<div>
		支持
		<a href="http://www.mozilla.com/en-US/firefox/" target="_blank">Firefox</a>
		,
		<a href="http://www.apple.com/safari/" target="_blank">Safari</a>
		,
		<a href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx" target="_blank">IE <b>7</b></a>
	</div>
</div>


