<div id="bottom_bar">
	<div id="bottom_bar_left">
		<nobr>
			© 2008 qiaobutang.com, all rights reserved 
		</nobr>
	</div>
	
	<div id="bottom_bar_right" align="right">
		<nobr>
			<!--
			<a href="#">关于乔布堂</a>
			<a href="#">隐私原则</a>
			<a href="#">广告投放</a>
			<a href="#">投资合作</a>
			<a href="#">乔布圈招聘</a>
			<a href="#">免责声明</a>
			-->
			支持
			<a href="http://www.mozilla.com/en-US/firefox/" target="_blank">Firefox</a>
			,
			<a href="http://www.apple.com/safari/" target="_blank">Safari</a>
			,
			<a href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx" target="_blank">IE <b>7</b> 以上版本</a>
		</nobr>
	</div>
</div>

