<img id="forgot_password_noisy_image" src="/index/noisy_image" />
<a href="#" onclick="document.getElementById('forgot_password_noisy_image').src = '/index/noisy_image?tmp=' + new Date().getTime();return false;">看不清楚, 换一张</a>