<div class="tag_cloud">
	<% if tags.size > 0 %>

		<% min_tag_count = tags[0][2] %>
		<% max_tag_count = min_tag_count %>
		
		<% tags.each do |t| %>
			<% t_count = t[2] %>
			<% min_tag_count = t_count if min_tag_count > t_count %>
			<% max_tag_count = t_count if max_tag_count < t_count %>
		<% end %>

		<% tags.each do |tag| %>
			<% tag_text = "#{h(tag[1])} (#{tag[2]})" %>
			<a title="<%= tag_text %>" style="<%= tag_cloud_font_styling(tag[2], min_tag_count, max_tag_count) %>" href="<%= link_method.call(tag) %>">
				<%= tag_text %></a>
			&nbsp;
		<% end %>
	
	<% else %>
	
		还没有任何标签
	
	<% end %>
</div>


