<div style="background: transparent url(/images/real_index/service_title_bar.png) no-repeat scroll center top; text-align: center; height: 40px; padding-top: 5px;">
	学校服务联系人
</div>

<div style="margin-left: 10px; padding-left: 10px; border-bottom: 3px solid #DADADA;">
	<div>
		<span style="color: #DD6600">
			电话:
		</span>
		<b>
			(021) 2680 8691
		</b>
	</div>
	<div>
		<span style="color: #DD6600">
			邮箱:
		</span>
		<b>
			ShenKai@QiaoBuTang.com
		</b>
	</div>
	<div>
		<span style="color: #DD6600">
			联系人:
		</span>
		<b>
			沈小姐
		</b>
	</div>
	
</div>


<%= render :partial => "targets_and_features" %>


