<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
        <title>出错啦 - 乔布圈</title>
		<%= stylesheet_link_tag "site" %>
		
		<style>
			#root_container {
				margin: 100px auto;
				max-width: 500px;

				padding: 0px;
			}
			
			.container {
				padding: 10px
			}
		</style>

		<!--[if lt IE 7]>
		<script src="/lib/ie7/IE7.js" type="text/javascript"></script>
		<![endif]-->
    </head>
    <body>
	
		<%= render :partial => "common/top_bar" %>
    	
		<div id="root_container">
			<p class="float_r">
				<img src="/images/error_jiong.jpg" border="0" alt="囧" />
			</p>
			
			<p>
				<a href="/community">
					<img src="/images/index/qiaobuquan_logo.png" border="0" alt="乔布圈" />
				</a>
			</p>
			
			<div class="clear_r"></div>

	    	<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8" do %>
				<div class="container">
					<%= yield %>
				</div>
			<% end %>
			
			<p>
				去 <a href="http://www.qiaobutang.com/groups/1">强力纠错小组</a> 反馈一下这个问题吧
			</p>
		</div>
		
		<%= render :partial => "common/bottom_bar" %>

		
		
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-5887424-1");
			pageTracker._trackPageview();
		</script>



		<script type="text/javascript" src="http://js.tongji.linezing.com/891616/tongji.js"></script>
		<noscript>
			<a href="http://www.linezing.com">
				<img src="http://img.tongji.linezing.com/891616/tongji.php"/></a>
		</noscript>
    </body>
</html>
