<% community_page_title("找回密码") %>

<div class="float_r community_container_r">
	<div class="community_title">
	</div>
	<div class="community_block">
	</div>
</div>

<div class="community_container_l">
	<h2>找回密码</h2>
	
	<div class="community_block_narrow">

		<br />
		
		<% if flash[:error_msg] %>
			<p class="error_msg">
			    <%= flash[:error_msg] %>
			</p>
		<% end %>
		
		<% form_tag "/accounts/send_password", :method => :post do %>
			<table cellpadding="0" cellspacing="0" class="main_part_w">
				<tr>
					<td>
						<label for="email">email 地址(<span style="color: red;">*</span>)</label>
					</td>
					<td>
						<input id="email" name="email" type="text" class="text_field" size="30" value="<%= @email %>" />
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<div class="form_info_l">输入你注册的 email 地址</div>
					</td>
				</tr>
				
				<tr>
					<td>
						<label for="img_code">验证码(<span style="color: red;">*</span>)</label>
					</td>
					<td>
						<input id="img_code" name="img_code" type="text" class="text_field" maxlength="4" size="4" />
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<div class="form_info_l">输入下图中的验证码</div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<%= render :partial => "/common/noisy_image" %>
					</td>
				</tr>
				
				<tr>
					<td></td>
					<td>
						<%= submit_tag "发送密码", :class => "button" %>
					</td>
				</tr>
			</table>
	    <% end %>
	</div>
</div>

