<% community_page_title("注册验证") %>

<div class="float_r community_container_r">
	<div class="community_title">
		没有收到注册确认 ...
	</div>
	<div class="community_block align_c">
		<a href="/accounts/send_register_confirmation">重新发送注册确认邮件</a>
	</div>
	
	<div class="community_title">
		友情提醒 ...
	</div>
	<div class="community_block">
		<strong>如果一直无法收到注册确认邮件,</strong>
		可以试试:
		<ul>
			<li>
				检查一下你填写的邮箱, 是否正确, 并且确认该邮箱可以正常使用. 如果发现自己将邮箱填写错了,
				可以 <a href="/accounts/1001/edit_email">修改登录 email</a>
			</li>
			
			<li>
				检查一下你的邮箱的垃圾邮件, 注册确认邮件可能被误杀归入了垃圾邮件.
			</li>
			
			<li>
				到 <a href="/groups/1">乔布圈反馈小组</a> 发帖说明你的问题, 我们将帮助您查找问题的原因, 并完成注册.
			</li>
		</ul>
	</div>
</div>

<div class="community_container_l">
	<h2>感谢注册</h2>
	
	<div class="community_block_narrow">

		<br />
		<br />
		
		<% unless @account.checked %>
			<p>
			    我们已经发送了一封确认邮件到你的 email 地址 <b><%= @account.email %></b>, 请按照确认邮件中的操作来验证你的 email 地址
			</p>
			<p>
				你可以保留好这封确认邮件，当完成了 email 地址验证后，你还可以使用它来直接进行登录
			</p>
		<% else %>
			<p>
				你的 email 地址已经通过验证了
			</p>
		<% end %>
	</div>
</div>

<div class="clear"></div>

