<% community_page_title("发送密码") %>

<div class="float_r community_container_r">
	<div class="community_title">
	</div>
	<div class="community_block">
	</div>
</div>

<div class="community_container_l">
	<h2>取回密码</h2>
	
	<div class="community_block_narrow">

		<br />
		<br />
		
		<p>
			一封包含你的密码的电子邮件已经被发送到你的 email 地址 <b><%= @email %></b>
		</p>
	</div>
</div>

